@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
* {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
body{
	margin:0;
	padding:20px;
    font-family: 'Open Sans', sans-serif;
    background-color:#f9faff;
}
label {
    display:block;
}
.tbl-invoice {
    width:100%;
    border:0;
    border-collapse:collapse;
    margin-bottom:25px;
    border:solid 1px #dce3e6;
}
.tbl-invoice td,
.tbl-invoice th{
    border-bottom:solid 1px #edf0f2;
    border-collapse:collapse;
    font-size:13px;
    padding:8px;
        background: #fafafa;
}
.alnright {
    text-align:right;
}
.alnleft {
    text-align:left;
}
.alncenter {
    text-align:center;
}
.invoiceTitle{
    font-size:20px;
    font-weight:700;
    color:#004c7f;
}
.invoiceTotal td{
    background:#2a80f9;
    font-size:16px;
    font-weight:700;
    color:#fff;
}
.tbltasksHeader th {
    background:#eceff1;
    color:#263238;
    border-bottom:solid 1px #dce3e6;
}
.colorBlue {
    color:#0075b9;
}
.invoice-ReportDiv {
    width:900px;
    margin:0 auto;
}
.invoice-ReportDivinner{
    float:left;
    width:100%;
    padding:20px;
    background:#fff;
    box-shadow: 0 0 20px #eaedf9;
    -webkit-box-shadow: 0 0 20px #eaedf9;
}
.invoiceMaintitle {
    background:#2a80f9;
    color:#fff;
    font-weight:bold;
    padding:10px;
    float:left;
    width:100%;
    text-align:center;
    text-transform:uppercase;
    margin-bottom:20px;
}
.invoice-filters h5{
    float:left;
    font-weight:bold;
    color:#333;
    margin:10px 0;
}
.invoiceFil {
    float:left;
    clear:both;
    font-size:13px;
    padding-bottom:3px;
}
.invoiceFil label,
.invoiceFil span {
    float:left;
}
.invoiceFil label {
    font-weight:600;
    width:80px;
}
.invoiceFil span {
    padding-left:6px;
}
.billto {
    float:left;
    width:100%;
    background:#eef4fd;
    padding:20px;
    margin:10px 0;
}
.billFor {
    float:left;
}
.billFor h5{
    margin:0 0 6px;
}
.billFor address {
    float:left;
    font-size:13px;
    margin:0;
}
.billtoaddress {
    float:right;
    text-align:right;
}