@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
html{
	margin:0;
	padding:0 0 60px;
    min-height: 100%;
    position: relative;
    height: auto;
    overflow: inherit;
}
body{
	background: #eef3f7;
	font-family: 'Ubuntu', sans-serif;
    position: static;
}
.ibox {
    padding:0;
    background:#fff;
    overflow:hidden;
	border: solid 1px #e2dddd;
}
.ibox-title {
    padding:15px;
    background:#fff;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.ibox-title h5{
    padding:0 0 0 0;
    color:#8691a1;
    font-size:14px;
    margin:0;
	font-weight:500;
	text-transform:uppercase;
	padding:0;
}
.ibox-collapse-link {
    position:absolute;
    right: 15px;
    top: 2px;
    font-size: 25px;
    width: 15px;
    height:34px;
    cursor:pointer;
	display:none;
}
.ibox-collapse-link:before {
    content: '';
    width: 14px;
    height: 2px;
    background: #585858;
    float: right;
    margin: 17px 0 0 0;
    position: absolute;
    left: 0;
    top:0;
    display:none;
}
.ibox-collapse-link.minus-expanded:before{
    display:inline-block;
}
.ibox-collapse-link i {
    font-style:normal;
}
.ibox-content {
    padding:0;
}
.ibox-content-inner {
    padding:20px;

}
.input-block {
    padding: 0 15px 0px;
    margin-bottom: 10px;
}
.formContentblock{
	padding:0 15px;
}
.form-control {
    height: 31px;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
select.form-control {
    font-size: 15px;
    padding: 6px 0 6px 4px;
    padding-top: 4px;
    border-radius: 0 !important;
    line-height: 25px;
}
.input-block [class*="col-"] {
    padding: 0 3px;
}
.input-block label {
    font-size: 13px;
    color: #1b1b1b;
    font-weight: 300;
    font-weight: normal;
    margin-bottom: 2px;
}

input[type="checkbox"], input[type="radio"] {
	border: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 5px 0 0 !important;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    position: absolute;
    left: 0;
    top: 0;
    outline: 0;
}
input[type="checkbox"]:before, input[type="radio"]:before {
    content: '';
    border: 0;
    width: 16px;
    height: 16px;
    margin: 4px 0 0 -2px;
    display: inline-block;
    /* background: url(../images/icon-checkbox.png) no-repeat; */
    border: solid 1px #000;
    border-radius: 100%;
}
input[type="checkbox"]:before {
    border-radius: 0;
        margin: 2px 0 0 0;
}
input[type="radio"]:before {
	background: url(../images/icon-radio.png) no-repeat;
}
input[type="checkbox"]:checked:before {
	background: url(../images/img-checked.png) no-repeat center;
    background-size:75% auto;
}
input[type="radio"]:checked:before {
	background: url(../images/icon-radio-checked.png) no-repeat;
}
input[type="radio"]:checked::after {
    content: '';
    float: left;
    width: 8px;
    height: 8px;
    background: #6a95f9;
    border-radius: 100%;
    margin: -15px 0 0 2px;
}
.formArea{
	padding:0;
}
.btn-submit {
    display: inline-block;
    padding: 7px 23px 7px 23px;
    font-size: 13px;
    border-radius: 3px;
    color: #fff;
    border: 0;
	background: #15b748;
    text-transform: uppercase;
	margin:0 10px 0 0;
    cursor: pointer;
}
.btn-sm-cancel {
    color: #000;
    background: #f5df65;
}
.btn-edit {
    /* background: #6a95f9 url(../img/themes/icon-edit.png) no-repeat 10px center; */
    background: #F1711B;
}
.bottom-buttons {
    padding: 20px 0 0 15px;
}
.btn-privacy{
	background: #6a95f9;
}
#ptframe{
    width: 100% !important;
    float: left;
    position: fixed;
    left: 0;
    top: 0;
    height: 100% !important;
    padding: 50px 0 50px 0 !important;
    border: 0;
}
#ptframe body{
    margin: 0;
}
.invoiceBodyContent{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	padding:0;
}
.invoiceBodyContent #ptframe{
    width: 100% !important;
    float: left;
    position: fixed;
    left: 0;
    top: 0;
    height: 100% !important;
    padding: 50px 0 50px 0 !important;
    border: 0;
}
.invoiceBodyContent #ptframe body{
    margin: 0;
}
.invoiceMenu{
	padding:0;
	z-index:9;
}
.invoice-page-wrapper{
	padding:60px 0;
	position: fixed;
    left: 0;
    top: 0;
    height: 100% !important;
	overflow:auto;
}
.mapLink{
float: right;
    color: #1bb4bb;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
}


#divVideoPanelFrame{
	display:none;
}

.fixedtable{
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0px;
    overflow-x: auto;
    display: block;
}
.fixedtable th {
    background: #2980b9;
    color: #fff;
}
.fixedtable tr {
    display:table;
    min-width:100%;
}
.fixedtable td, .fixedtable th {
    padding: 6px 10px;
    border: solid 1px #ddd;
    font-size: 13px;
    min-width: 120px;
    max-width: 120px;
    word-break: break-all;
    font-weight: 500;
}


.fixedtable td{
    font-weight: 400;
}
.fixedtable td h4 {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    color: #333;
}
.fixedtable td input[type="checkbox"]:before,
.fixedtable td input[type="radio"]:before {
    border-radius:0;
    width: 24px;
    height: 24px;
    margin:5px 0 0 0;
}
.fixedtable thead, .fixedtable tbody {
    display: inline-block;
    min-width: 100%;
    overflow-y: scroll;
    -webkit-appearance: none;
    -ms-overflow-style: none;
}
.fixedtable tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 330px;
    /*margin-right: -17px;*/
}
.fixedtable thead:before{
    content:'';
    width:17px;
    height:100%;
    float:left;
    position:absolute;
    right:0;
    top:0;
}
.fixedtableBlock {
    float:left;
    width:100%;
    border: solid 1px #ddd;
}
.invoiceBillingTbl .inpTexttblinput{
    width: 100%;
    padding: 0;
    border: 0;
    height: auto !important;
    line-height: 12px;
}
.deliveryTaxLink,
.billableTaxLink{
    float: left;
    width: 100%;
    padding: 10px;
    background: #19b4bc;
    color: #fff;
    font-weight: bold;
}
.deliveryTaxLink:after,
.billableTaxLink:after{
    content: '+';
    width: 22px;
    height: 22px;
    float: right;
    position: absolute;
    right: 26px;
    z-index: 1;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    padding-left: 1px;
    color: #fff;
}
.openLink:after{
    content: '';
    z-index: 2;
    line-height: 12px;
    display: inline-block;
    width: 13px;
    height: 3px;
    background: #fff;
    right: 30px;
    top: 20px;
}
.invoiceDeliveryTax, .invoiceBillableDetails{
    float: left;
    width: 100%;
    padding: 15px 0 0;
}
.invoiceDeliveryTax label{
    font-size: 13px;
    color: #1b1b1b;
    font-weight: 300;
    font-weight: normal;
    margin-bottom: 2px;
}
.inputGroup{
    float: left;
    width: 100%;
    margin: 0 0 10px;
}
.inpfullWidth,
.inphalfWidth{
    float: left;
    width: 100%;
    height: 31px;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    padding: 5px 10px;
    outline: 0;
}
.inphalfWidth {
    width: 50%;
}
.inpbillto{
 margin-bottom: 10px;
}
.hasError{
    padding: 0 20px 10px;
    color: red;
}
.addTitle-label{
    padding: 0;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
}
.divPartyMaster{
    padding: 0 15px;
}


.ui-grid-top-panel{
    background: #2980b9 !important;
}
.ui-grid-header-cell {
    background: #2980b9 !important;
    border-color: #c1c1c1 !important;
    text-align: center;
}
.k-grid-toolbar{
    border: 0 !important;
    background: #fff !important;
    /*background: #eef3f7 !important;*/
}
.ui-grid-render-container{
    border:solid 1px #c1c1c1;
}
.ui-grid-header-cell .ui-grid-cell-contents span,
.ui-grid-header-cell span{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color:#fff;
}
.ui-grid-cell-contents{
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    padding: 0;
}
.ui-grid .ui-grid-cell, .ui-grid-header-cell{
    padding: 6px;
}
.ui-grid-row:nth-child(even) {
    background-color: #fff !important;
}
.ui-grid-row:nth-child(even) .ui-grid-cell{
    background: #fff;
}
div.ui-grid-cell input.txtField,
div.ui-grid-cell select{
    border: solid 0px #e6e7ef;
    background: transparent;
    height: 20px !important;;
    border-radius: 0 !important;
    outline:0;
}
.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background-color: #44b1f7 !important;
    color: #fff;
}
.ui-grid .ui-grid-viewport{
    border: 0 !important;
}
.ui-grid-row:nth-child(even) .ui-grid-cell{
    background: #e9e9e9;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell{
    background: #f6f6f6;
}

.radioButton{
    float: left;
    margin: 0;
    border: 0;
    background: none;
    position: relative;
    padding: 0 10px 0 20px;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    outline: 0;
    cursor: pointer;
}
.radioButton:before{
    content: '';
    border: 0;
    width: 16px;
    height: 16px;
    margin: 0 0 0;
    display: inline-block;
    /* background: url(../images/icon-checkbox.png) no-repeat; */
    border: solid 1px #000;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 3px;
}
.radioButton-active:after{
    content: '';
    float: left;
    width: 8px;
    height: 8px;
    background: #6a95f9;
    border-radius: 100%;
    margin: 0 0 0 2px;
    left: 2px;
    position: absolute;
    top: 7px;
}
.formArea {
    padding: 0;
}
.facility-refine .col-xs-4 {
    padding: 0 20px 0 0;
}
.btn-sm-search, .btn-add-plus {
    float: left;
    margin: 0 0 0 0;
    width: 34px;
    height: 30px;
    background: #44b1f7 url(../img/themes/icon-search.svg) no-repeat center 5px;
    background-size: 18px auto;
    border: 1px solid #44b1f7;
    margin: 26px 0 0 0;
    border-radius: 3px;
}
.k-dropdown-wrap.k-state-default {
    height: 30px;
    border: solid 1px #e6e7ef;
    background: url(../img/themes/icon-down-arrow.svg) no-repeat 97%;
    background-size: 13px auto;
    width: 100%;
    font-size: 13px;
    padding-top: 4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 3px;
}
.k-state-default>.k-select {
    border: 0;
}
.divFilterActiveInactive {
    float: right;
}
.blockHeading{
    float: left;
    width: 100%;
    padding: 0 15px;
}
.blockHeading h4{
    background: #0c6fb1;
    color: #fff;
    text-transform: uppercase;
    padding: 12px;
    font-size: 14px;
}
.appt-tab {
    float:left;
    padding:10px 20px;
    color:#333;
    border-right:solid 1px #f1f1f1;
    border-bottom:solid 1px #f1f1f1;
    width:16.666%;
    text-align:center;

    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfc 0%, #f9f9f9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#f9f9f9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcfcfc 0%,#f9f9f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f9f9f9',GradientType=0 );

    -webkit-box-align: center!important;
    -webkit-align-items: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    text-align: center;
    height:90px;
}
.appt-tab span{
    float: left;
    width: 100%;
}
.appt-tab-active,
.appt-tab.selected{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #3fccaa; /* Old browsers */
    background: -moz-linear-gradient(top, #3fccaa 0%, #07a8c5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3fccaa 0%,#07a8c5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3fccaa 0%,#07a8c5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fccaa', endColorstr='#07a8c5',GradientType=0 );
    color:#fff;
}
.appt-tab-content{
    padding: 20px;
}
.appt-tab-content h4{
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 20px;
}
.recommendedList{
    padding: 0;
}
.reportItem{
    border: solid 1px #e2dddd;
    margin: 0 0 15px;
    box-shadow: 0 5px 5px #e2dddda6;
}
.reportItemtbl{
    display: table;
    width: 100%;
}
.reportItemtr{
    display: table-row;
}
.reportItemtd{
    display: table-cell;
    vertical-align: middle;
    color: #000;
    font-size: 13px;
}
.reportItemtbl .reportItemtr .reportItemtd:first-child{
    width: 80%;
}
.reportLinkDescription{
    margin: 0;
    padding: 10px 0;
    float: left;
    clear: both;
}
.reportNamediv{
    float: left;
    text-transform: uppercase;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0px 0;
}
.tblLink{
    display: inline-block;
    color: #07a8c5;
    font-weight: 500;
    margin: 0 5px;
}
.GSTHeading{
    padding: 8px 15px;
    background: #e2dddd;
}
.btnExportGst{
    float: right;
    padding: 7px 15px;
    color: #fff;
    background: #4caf50;
    font-weight: 500;
}
.spnGSTtitle{
    float: left;
    font-size: 14px;
    margin: 10px 0 0 0;
    font-weight: 700;
    text-transform: uppercase;
}

