@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
body{
    background: #eef3f7;
    font-family: 'Calibri';
}

.ibox{
    border-radius: 0;
    font-family: 'Calibri';
}
.ibox-title{
    background: #ffca91;
    border-radius: 0;
}
.iboxpopup{
    border-radius: 0;
    background: #f4f6fa;
    padding: 0;
}
.ibox-title h5,
.iboxpopup-title h5,
.spnID{
    color: #000;
}
.iboxpopup-title{
    background: #ffca91;
    border-radius: 0;
}
.iboxpopup-content-inner {
    padding: 15px;
}


.k-window-titlebar.k-header{
    background: #ffca91;
}
.k-window-title{
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    font-family: Helvetica, Arial, "sans-serif";
    font-weight: bold;
}
.popupbody {
    background: #f4f6fa;
}
.Eu-box-content{
    padding: 10px;
    background: #fff;
    border: solid 1px #ececec;
    margin: 10px 0 0 0;
    position: static;
}
.EU-buttons .btn-submit {
    background: #00b7a8 url(../img/themes/icon-ok.png) no-repeat 10px center;
    background-size: 18px auto;
    border:solid 1px #07a48f;
    padding: 8px 24px 8px 36px;
}
.EU-buttons .btn-submit.btn-reset {
    border-color:#faab43;
    background: #fccb76 url(../img/themes/icon-cancel-grey.png) no-repeat 10px center;
    background-size: 14px auto;
    color:#152d40;
}
.EU-buttons .btn-submit.btn-cancel {
    background: #fff url(../img/themes/icon-cancel-new-grey.png) no-repeat 10px center;
    background-size: 18px auto;
    border-color:#e4e8eb;
    color: #000;
}
.radioButton:before{
    border-color: #59c203;
}
.radioButton-active:after{
    margin: 0 0 0 2px;
    background: #59c203;
}
.popupFormbgNone{
    padding: 0;
    background: none;
    border: 0;
}
.tabContent{
    padding: 25px 5px;
    border: 0;
}
.EU-ibox-title {
    background: none;
    position: relative;
    left: inherit;
    top: inherit;
    width: 100%;
    padding: 0;
}
.EU-ibox{
    padding: 0;
    border:0;
}
.EU-ibox-content{
    padding: 10px;
    background: #fff;
    border: solid 1px #ececec;
    margin: 10px 0 0 0;
}
.EU-ibox-title h5 {
    margin: 0;
    font-size: 14px;
    color: #bababa;
    padding: 0 6px 0 0;
    font-weight: normal;
    position: relative;
    display: inline-block;
    background: #f4f6fa;
}
.EU-ibox-content-inner {
    padding: 5px 5px;
}
.input-block{
    width: 33.33%;
}
.Eu-box-content .bottom-buttons.EU-buttons{
    padding: 0 5px 10px;
    margin-top: 10px;
}
.boxtabHeadings{
    padding: 0 10px;
}
.formElementsBlockinner{
    background: #fff;
    margin-bottom: 15px;
}
.userphoto-block {
    width: 200px;
    position: absolute;
    left: 0;
    top: 24px;
    padding: 0;
}
.userdetails {
    padding: 0 0 0 228px;
}
.EU-ibox-content,
.EU-ibox,
.EU-ibox-content-inner,
.EU-formArea{
    position: static;
}
.vitalListblock .userphoto-block{
    position: relative;
    width: 25%;
}
.newtable tr th {
    background: #fbdc33;
    color: #000;
}
.newtable tr:nth-child(even) td{
    background: #fff;
}
.newtable tr:nth-child(odd) td{
    background: #fff;
}
.EU-buttons .btn-submit:hover{
    background-color: #00b7a8;
}
.EU-buttons .btn-reset:hover{
    background-color: #faab43;
}
.EU-buttons .btn-cancel:hover{
    background-color: #fff;
}

@media (max-width:999px){
.userphoto-block {
    width: 100%;
    top: 0;
    position: relative;
    padding: 0 9px;
}
.vitalListblock .userphoto-block {
    position: relative;
    width: 100%;
}
.staffPopup .staff-userblock .photo-div {
    padding: 0 8px;
}
.userdetails-left {
    width: 100%;
}
.userdetails {
    padding: 0 0 0 0;
}
}

@media(max-width: 768px) {
.input-block {
    width: 50%;
}
}

@media(max-width: 568px) {
.EU-buttons .btn-submit {
    padding: 5px 7px 5px 24px;
    font-size: 12px;
    margin-right: 6px;
    background-position: 4px center;
}
.EU-buttons .btn-submit.btn-reset {
    background-position: 4px center;
}
.EU-buttons .btn-submit.btn-cancel{
    background-position: 4px center;
}
.input-block label {
    font-size: 12px;
}
.input-block .form-control{
    height: 30px;
}
.k-dropdown-wrap.k-state-default {
    height: 30px;
    padding-top: 0;
}
.k-dropdown-wrap .k-input{
    height: auto;
}
.iboxpopup-content-inner {
    padding: 5px 10px;
}
.input-block {
    width: 100%;
}
.EU-ibox-content {
    padding: 0;
}
}

#miniTemplateDivBlock{
    padding-bottom: 12px;
}
.formdataContainer{
    width: 1202px;
    margin-bottom: 10px;
}
.ibox-content-inner-formdata {
    padding:20px;
    padding-top: 2px;
}