@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
body{
    background: #eef3f7;
    font-family: 'Calibri';
}

.ibox{
    border-radius: 0;
    font-family: 'Calibri';
}
.ibox-title{
    background: #29c3ba;
    border-radius: 0;
}
.iboxpopup{
    border-radius: 0;
}
.iboxpopup-title{
    border-radius: 0;
    background: #29c3ba;
}
.iboxpopup-title h5,
.spnID{
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    font-family: 'Calibri';
}
.spnID{
    color: #fff;
}
.bottom-buttons.EU-buttons{
    padding: 20px 5px 0;
}

.divFilterActiveInactive{
    float: right;
}
.ui-grid-header-cell {
    background-color: #f4f4f6 !important;
    border-color: #dddddd !important;
    text-align: center;
}
.ui-grid-header-cell .ui-grid-cell-contents span,
.ui-grid-header-cell span{
    font-family: 'Calibri';
    font-weight: bold;
    font-size: 15px;
    color: #212121;
}
.ui-grid-cell-contents{
    font-size: 14px;
    word-break: break-all;
    color: #3d5468;
    font-family: 'Calibri';
}
.ui-grid-top-panel {
    background: #f4f4f6 !important;
}
.k-window-titlebar.k-header{
    background: #29c3ba;
}
.k-icon.k-i-close{
    top: 10px;
    background: url(../img/themes/icon-close-white.png) no-repeat;
    background-size: 100% auto;
}
.input-block select.form-control {
    font-size: 15px;
    padding: 6px 0 6px 4px;
    padding-top: 4px;
    border-radius: 0 !important;
    line-height: 25px;
}
.input-block .form-control,
.form-control{
    height: 31px;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.input-block .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.k-dropdown-wrap.k-state-default {
    height: 31px;
    padding-top: 2px;
    border-radius: 0;
    padding-left: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.k-window-actions{
    background: transparent;
}
.k-window-title{
    color: #fff;
    font-size: 13px;
}
.input-block label{
    font-family: 'Calibri';
    color: #1b1b1b;
    font-size: 15px;
}
.EU-buttons .btn-submit{
    padding: 5px 23px 5px 37px;
    border-radius: 0;
    border: solid 1px #274472;
    background: #2d4f84 url(../img/themes/icon-ok.png) no-repeat 10px center;
    background-size: 18px auto;
    box-shadow:none;
    float: left;
    margin-left: 0;
    margin-right: 10px;
}
.EU-buttons .btn-reset{
    border-color: #d9534f;
    background: #fff url(../img/themes/icon-cancel-grey.png) no-repeat 10px center;
    background-size: 14px auto;
    color: #000;
}
.EU-buttons .btn-cancel{
    border-color: #515151;
    background: #fff;
    background: #fff url(../img/themes/icon-cancel-new-grey.png) no-repeat 10px center;
    background-size: 18px auto;
    color: #000;
}
.ibox-title h5.filter-heading{
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    font-family: 'Calibri';
}
.k-dropdown-wrap.k-state-default:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.ui-grid-render-container{
    border-color: #ddd;
}
.btn-add, .btn-edit, .btn-sm-cancel{
    border-radius: 0;
    color: #fff;
    border-color: transparent;
}
.btn-add{
    background-color: #29c3ba;
    border-radius: 0;
}
.btn-edit{
    background-color: #578ea5;
}
.btn-sm-cancel{
    background: #de5543 url(../img/themes/icon-delete-white.png) no-repeat 10px center;
}
.iboxpopup-content-inner {
    padding: 0px;
}
.boxtabHeadings{
    padding: 0 14px;
    background: #29c3ba;
}
.boxtablink {
    background: none;
    font-size: 16px;
    border-color: transparent;
}
.accountListSidebar li.active .boxtablink {
    color: #2d4f84;
    background: none;
    border-bottom: solid 2px #2d4f84;
}
.tabContent{
    border: 0;
}
.k-dropdown-wrap .k-input{
    height: auto;
}
.Eu-box-content .bottom-buttons.EU-buttons{
    padding: 0 20px 10px;
}
.EU-formArea{
    padding: 20px 10px 0;
}
#addTaskGroupAccountPopup .iboxpopup-title{
    padding-bottom: 0;
}
#addTaskGroupAccountPopup .EU-formArea {
    padding: 0;
}
.formElementsBlock{
    padding: 20px;
}
.vitalListblock{
    padding: 0;
}
.boxpaddingdiv{
    padding: 20px;
}
.boxpaddingdiv .bottom-buttons.EU-buttons{
    padding: 0;
    margin-top: 20px;
}
.boxpaddingdiv .EU-ibox-content-inner{
    padding: 0;
}
.btn-add:hover,
.btn-edit:hover,
.btn-sm-cancel:hover,
.btn-savechanges:hover{
    border-color: transparent;
}
.btn-add:hover{
    background-color: #4e82b5;
}
.btn-edit:hover{
    background-color: #de5404;
}
.btn-sm-cancel:hover{
    background-color: #d20a09;
}
.btn-savechanges:hover{
    background-color: #3c9807;
}

.newtable tr th {
    background: #f4f4f6;
    color: #212121;
    font-size: 15px;
    font-weight: bold;
}
.newtable tr th, .newtable tr td {
    border: solid 1px #dddddd;
    font-family: 'Calibri';
}
.taskGroupHeader{
    border-radius: 0;
}
.hint{
    font-size: 13px;
}
.newtable tr:nth-child(even) td{
    background: #fff;
}
.newtable tr:nth-child(odd) td{
    background: #fff;
}
.addremoveTasksblock{
    padding: 20px;
}

@media (max-width: 999px) {
    #addTaskGroupAccountPopup .iboxpopup-title {
        padding-bottom: 6px;
    }
}
@media(max-width: 568px) {
.EU-buttons .btn-submit {
    padding: 5px 11px 5px 26px;
    font-size: 12px;
    margin-right: 7px;
    background-position: 4px center;
}
.boxtablink{
    padding: 7px 10px;
}
.EU-ibox-title h5 {
    font-size: 14px;
}
.EU-ibox-title{
    top: -8px;
}
.Eu-box-content .bottom-buttons.EU-buttons{
    padding: 0 11px 10px;
}
.formElementsBlock {
    padding: 12px;
}
.boxpaddingdiv {
    padding: 16px;
}
.boxpaddingdiv .bottom-buttons.EU-buttons {
    padding: 0 0 10px;
}
}
#miniTemplateDivBlock{
    padding-bottom: 12px;
}
.formdataContainer{
    width: 1202px;
    margin-bottom: 10px;
}
.ibox-content-inner-formdata {
    padding:20px;
    padding-top: 2px;
}