@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
html {
    padding-bottom: 70px;
    position: relative;
    min-height:100%;
}
body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    background:#f7f9fc;
}
.padding-0 {
    padding: 0 !important;
}
/**-- Header & Footer --**/
.header-container {
    padding:0;
    border-top:solid 0 #4D4D4D;
    background:#fff;
}
.logoDivLeft {
    text-align:left;
}
.logoDivCenter {
    text-align:center;
}
.logoDiv {
    display:inline-block;
    vertical-align:top;
    margin:10px 0;
}
.logoDiv img{
    max-width:142px;
}
.herosclubbanner {
    text-align:center;
        text-align: center;
    padding: 30px 0 0;
}
.herosclubbanner img {
    max-width:420px;
}
.footer-container{
    width:100%;
    background:#1e1e1e;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px 5px;
}
.footer-links {
    padding:0;
    text-align:center;
}
.inline-block {
    display:inline-block;
    vertical-align:top;
}
.footer-links a {
	color: #DFDFDF;
	display: inline-block;
	margin-right: 24px;
    font-size:12px;
}
.footer-links a:before {
	content: '';
	width: 1px;
	background: #fff;
	height: 10px;
	float: right;
	margin: 4px -12px 0 0;
}
.footer-links a:after {
	display: block;
	content: '';
	border-bottom: solid 1px #fff;
	transform: scaleX(0.0001);
	-webkit-transform: scaleX(0.0001);
	transition: transform 250ms ease-in-out;
	opacity: 0;
}
.footer-links a:hover:after {
	transform: scaleX(1);
	-webkit-transform: scaleX(1);
	-webkit-transform: scaleX(1);
	-webkit-transform: scaleX(1);
	opacity: 1;
}
.footer-links a:last-child:before {
	display: none;
}
/**-- Header & Footer Ends --**/

/**-- Profile --**/
.profile-block {
    padding: 0 0;
    margin: 20px 0 0;
}
.profile-Innerblock{
    padding: 15px 0;
    background: #fff;
    box-shadow: 0 0 5px #e0e0e2;
}
.profile-left{
    padding: 0;
}
.profile-right{
    border-left: solid 1px #f1f5f8;
    min-height: 140px;
}
.profile-right .form-elements-content-inner label {
    max-width: 32%;
}
.profile-left-inner {
    padding: 0px;
    background: #fff;
    border-radius: 8px;
}
.profile-user-details {
    padding: 20px 20px 20px 155px;
}
.profile-user-detailsinner {
    padding: 0;
    position: static;
}

.profile-user-details h2 {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 7px;
    color: #4b5766;
}
.profile-user-details h2 small {
    font-size: 11px;
    color: #4F4F4F;
    font-family: 'Lato', sans-serif;
    display: block;
}
.user-photo-block {
    position: absolute;
    left: 24px;
    top: 18px;
    width:122px;
    text-align: center;
    z-index: 1;
}
.user-photo {
    width: 112px;
    height: 112px;
    float: left;
    margin: 10px 0;
    border-radius: 100%;
    border: solid 1px#ad1c1c;
    overflow: hidden;
    cursor: pointer;
}
.user-photo-active{
    border-color: #52dc90;
}
.user-photo img {
    border-radius: 100%;
    width: 112px;
    height: 112px;
}
.user-email, .user-mobile, .user-code {
    float: left;
    width: 268px;
    font-size: 13px;
    color: #a1aab4;
    line-height: 16px;
    margin: 0 0 4px;
}
.btn-print-profile {
    background-color: #fff;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    color: #3fa2ff;
    font-size: 12px;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    border: solid 1px #3fa2ff;
    text-align: center;
    margin-top: 6px;
}
.btn-upload-profile{
    background: #52dc90;
    color: #fff;
    border-color: #fff;
}
.profileBtns{
    padding: 0;
    width: 300px;
    max-width: 100%;
}
.profileBtns .col-xs-5{
    padding: 0 5px;
    width: 45%;
}
.profileBtns .row{
    margin: 0 -5px;
}
.form-elements-content {
    padding: 0;
    text-align: center;
}
.form-elements-content-inner {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}
.form-elements-content-inner .form-group {
    margin-bottom: 25px;
}
.form-label {
    position: absolute;
    left: 8px;
    top: 6px;
    color: #4F4F4F;
    font-size: 14px;
    font-weight: normal;
    z-index: 10;
    transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
}
.form-elements-content-inner label {
    font-weight: normal;
    color: #4F4F4F;
    font-size: 13px;
    top: 6px;
}
.form-control {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 0;
    color: #4A4A4A;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 6px 0;
    background: #fff;
    outline: 0;
    border-radius: 0;
}
.form-input{
    opacity: 0;
}
.form-input:focus {
    box-shadow: 0 1px 0 0 blue;
}
.inputBlock{
    padding: 0 5px;
    width: 50%;
}
.profile-right-inner{
    padding: 0;
}
.profile-right-inner .inputBlock{
    width: 100%;
}
.profile-right-inner .inputBlock .form-group{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.profile-right-inner .inputBlock .form-group{
    padding-left: 36%;
}
.form-elements-content-inner .row{
    margin: 0 -5px;
}

.focused .form-control{
    background-color: #fff;
    box-shadow: 0 1px 0 0 #3fa2ff;
    opacity: 1;
}
.formLeft{
    padding: 0 5px;
}
.tabsBlock{
    padding: 0;
    margin: 20px 0 0;
}
.tabsHeader{
    padding: 0;
}
.linkTab {
    float: left;
    color: #9ca9ba;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 700;
}
.linkTab-active {
    color: #2b89e0;
    border-bottom: solid 2px #2b89e0;
}
.tabsContentBlock{
    padding: 0;
}
.tabContentDiv{
}
.tabContentDiv{
    padding: 15px 0;
    display: none;
}
.tabContentLeft,
.tabContentRightInner{
    background: #fff;
    padding: 0;
    border-radius: 5px;
}
.tabContentRightInner{
    padding: 0;
    margin-bottom: 20px;
}
.tabContentRight{
    padding: 0 0 0 30px;
}
.tabHeading{
    padding: 16px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    float: left;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
    border-bottom: solid 1px #F5F5F5;
}
.tabSublinks{
    margin: 0;
    padding: 10px 20px 10px;
    float: left;
    width: 100%;
}
.tabSublinks li{
    float: left;
    width: 100%;
    padding-bottom: 10px;
    list-style: none;
}
.tabSublink{
    color: #000;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    padding: 0 0 0 28px;
}
.tabSublink-active{
    color: #2b89e0;
    font-weight: bold;
}
.tabSublink i{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 0;
}
.tabSublink i img{
    max-width: 16px;
}
.iconBack{
    float: left;
    background: url(../Images/icon-back.svg) no-repeat left center;
    background-size: 14px auto;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    padding: 0 0 0 22px;
    margin: 15px 0 0;
}

.tabInnerBlock{
    padding: 0;
}
.tabInnerContent{
    padding: 15px 25px;
}
.tabInnerBlock{
    display: none;
}
.tabInnerrow{
}
.inputBlock [class*="col-"] {
    padding: 0 3px;
}
.formButtons{
    padding: 0;
    margin: 20px 0 0;
    text-align: left;
}
.btn-submit {
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    color: #52dc90;
    background: #52dc90;
    color: #fff;
    border-color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 10px 35px;
    text-transform: uppercase;
    border: solid 1px #52dc90;
    text-align: center;
    box-shadow: 0 6px 13px rgba(119,116,254,0.4);
    -webkit-box-shadow: 0 6px 13px rgba(119,116,254,0.4);
    outline: 0;
    margin-right: 8px;
}
.btnAddLang{
    background-color: #3fa2ff;
    border: solid 1px #3fa2ff;
    color: #fff;
}
.btn-cancel{
    background-color: #fff;
    border: solid 1px #3fa2ff;
    color: #3fa2ff;
}
.userProfileBlock{
    float: left;
    width: auto;
    background: #fff;
    margin: 0 0 30px 0;
    padding-right: 10px;
    box-shadow: 0 0 10px #d4d4d4;
}
.spnUserProfileimg{
    width: 60px;
    height: 60px;
    margin-right: 5px;
    float: left;
}
.spnUserProfileimg img{
    max-width: 60px;
}
.iconCamera,
.iconFolder,
.iconFolderUpload{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/camera.png) no-repeat;
    background-size: 20px auto;
    margin: 0 10px;
}
.iconFolder{
    background: url(../images/searchFolder.png) no-repeat;
    background-size: 20px auto;
}
.iconFolderUpload{
    background: url(../images/iconupload.png) no-repeat;
    background-size: 20px auto;
}
.form-input.filled {
    box-shadow: 0 1px 0 0 lightgreen;
}
.userdetails-left{
    padding: 0;
}
.form-label{
    text-align: left;
}
.focused .form-label {
    -webkit-transform: translateY(-115%);
    transform: translateY(-115%);
    font-size: .75em;
}
.profile-right-inner .inputBlock .form-group{
    padding-left: 36%;
}
.profile-right-inner .inputBlock .form-group.focused .form-label {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    font-size: 13px;
}
.inputFullLength{
    width: 100% !important;
}
.languageInputDiv{
    float: left;
    padding: 0 10px;
    width: 50%;
    margin-bottom: 10px;
    position: relative;
}
.languageInputDiv .inputBlock{
    width: 100%;
    border: solid 1px #dfe1e4;
    padding: 20px 28px 10px 10px;
}
.languageInputDiv .focused .form-label {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
    font-size: .75em;
}
.form-elements-content-inner .languageInputDiv .form-group,
.happitInpuBlock .form-group{
    margin-bottom: 5px;
}
.formClose{
    position: absolute;
    right: 16px;
    top: 6px;
    width: 16px;
    height: 16px;
    background: url(../Images/icon-close.png) no-repeat;
    background-size: 100% auto;
    opacity: .4;
}
.mandatory {
    padding-right: 10px;
}
.mandatory::after {
    content: '*';
    float: right;
    font-size: 11px;
    color: red;
    margin-left: 6px;
    line-height: 10px;
    margin-top: 4px;
    position: absolute;
    right: 0;
    top: 0;
}
.inpSearch{
    background: url(../Images/icon-search.svg) no-repeat right center;
    background-size: 20px auto;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.happitInpuBlock{
    float: left;
    padding: 21px 70px 10px 5px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    border: solid 1px #dfe1e4;
}
.happitInpuBlock .inputBlock{
    margin-bottom: 10px;
}
.btn-sm-plus,
.btn-sm-minus{
    float: left;
    width: 20px;
    height: 20px;
    background: #2b4e86;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    line-height: 20px;
}
.btn-sm-minus{
    background: #d84d4b;
    margin-left: 5px;
    font-size: 24px;
    line-height: 14px
}
.tbl-plusminus {
    width: 50px;
    float: left;
    position: absolute;
    right: 10px;
    top: 30px;
}
.contactTable{
    padding: 20px;
}
.tblContact{
    border-collapse: collapse;
    width: 100%;
}
.tblContact tr th, .tblContact tr td {
    padding: 6px 10px;
    border: solid 1px #c1c1c1;
    word-break: break-all;
    color: #637174;
    font-size: 11px;
}
.tblContact tr:nth-child(even) td {
    background: #f2fbfe;
}
.tblContact tr th{
    color: #000;
    font-weight: 600;
}
.btn-add, .btn-edit, .btn-sm-cancel {
    float: left;
    padding: 7px 20px 7px 30px;
    margin: 0 10px 0 0;
    display: inline-block;
    font-size: 11px;
    border-radius: 3px;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    background: #15b748 url(../images/icon-plus.png) no-repeat 10px center;
}
.btn-edit {
    background: #6a95f9 url(../images/icon-edit.png) no-repeat 10px center;
}
.btn-sm-cancel {
    color: #000;
    background: #f5df65 url(../images/icon-delete.png) no-repeat 10px center;
}
.bottom-buttons{
    padding: 0;
    margin: 20px 0 0;
}
.EU-ibox {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding: 30px 10px 5px 10px;
    border: solid 1px #e6e7ef;
}
.EU-ibox-title {
    position: absolute;
    left: 10px;
    top: -10px;
    width: auto;
    background: #fff;
    line-height: 12px;
    padding: 0 6px;
}
.EU-ibox-content {
    padding: 0;
}
.EU-filter-heading{
    margin: 1px;
    font-size: 13px;
    font-weight: bold;
    color: #15b748;
}
.tabInnerrowContact{
    margin: 0 -20px !important;
}
.demomapLocation{
    padding: 0;
}
.statusInput{
    width: 160px;
    padding: 0;
    height: 28px;
}
.user-mobile label{
    margin-bottom: 2px;
    font-weight: normal;
}
.profileDetailsLeft{
    padding: 0;
}
.profileDetailsLeft .profileDetailsFormElements{
    text-align: left;
}
.profileDetailsLeft .profileDetailsFormElements .form-group{
    margin-bottom: 0;
}
.profileDetailsLeft .profileDetailsFormElements .form-group.focused label{
    opacity:0;
}
.profileDetailsLeft .profileDetailsFormElements .inpName .form-group.focused label{
    opacity:1;
    font-size: 12px;
}

.spnSuId{
    float: right;
    margin: 8px 0 0 0;
}
.profileDetailsLeft .profileDetailsFormElements .inputBlock{
    padding-left: 0;
}
.profileDetailsLeft .profileDetailsFormElements .inputBlock .form-label{
    left: 2px;
    color: #a1aab4;
    font-size: 13px;
}
.profileDetailsLeft .profileDetailsFormElements .form-input{
    height: 22px;
    padding: 0;
    font-size: 12px;
}
.spnYears{
    float: left;
    margin: 5px 8px 0;
}
.inpDob,
.inpGender{
    width: 50%;
}
.profileDetailsLeft .profileDetailsFormElements .inputBlock.inpName .form-label{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 7px;
    color: #4b5766;
    top: 0;
}
.inpName{
    width: 125px;
    margin-bottom: 5px;
}
.languageInputDiv .form-input{
    opacity: 1;
    box-shadow: 0 1px 0 0 #3fa2ff;
}
.iconMap{
    position: absolute;
    right: 5px;
    width: 20px;
    top: 8px;
    height: 20px;
    background: url(../images/icon-map.svg) no-repeat;
    background-size: 20px auto;
}
.popupblock {
	padding: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0 ,0, 0.4);
	z-index: 999;
	overflow: auto;
}
.popuptbl {
	display: table;
	width: 100%;
	height: 100%;
}
.popuptr {
	display: table-row;
}
.popupinner {
	padding: 30px 0;
	float: none;
	display: table-cell;
	overflow: auto;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 100%;
}
.popupcontentDiv {
	display: inline-block;
	background: #fff;
	text-align: left;
	position: relative;
}
.locationmap-popup {
	width: 700px;
	padding: 20px;
}
.popupheader {
	padding: 0;
	margin: 0 0 22px;
	font-size: 16px;
	color: #3d3d3d;
	text-transform: uppercase;
	font-family: Helvetica, Arial, "sans-serif";
	font-weight: bold;
}
.popupbody {
	padding: 0;
}
.popup-close {
	float: left;
	position: absolute;
	right: 0;
	top: 4px;
	width: 16px;
	height: 16px;
	background: url(../images/icon-popupclose.svg) no-repeat left 0;
	background-size: 16px auto;
	z-index: 1;
}
.photoAssets{
    display: none;
}
.form-control.inpDateField.tblDateInput{
    width: 86px;
    font-size: 11px;
}
/**-- Profile Ends --**/


/**-- Customer --**/
.pageTitle{
    color: #000;
    font-size: 24px;
    margin: 0 0;
}
.radiolistCustomer{
    float: left;
    margin: 5px 0 10px 0;
}
.radioInputBlock{
    float: left;
    width: 100%;
    padding: 15px 10px 10px 40px;
    border: solid 1px #dfe1e4;
    margin-bottom: 10px;
}
.radioInputBlock .form-group{
    margin: 0;
    position: relative;
}
.form-elements-content-inner label.inpRadio{
    position: absolute;
    left: 0;
    top: 24px;
}
.form-elements-content-inner label.inpRadio input[type="checkbox"],
.form-elements-content-inner label.inpRadio input[type="radio"]{
    margin: 0;
}
.divCustomerId{
    float: right;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin: 20px 0 0 0;
}
.inpCheck{
    margin: -10px 0 30px;
    text-align: left;
}
.inpCheck .checkbox{
    margin: 0;
}
.tdInput{
    width: 100px;
}
.relative{
    position: relative;
    right: inherit;
    top: inherit;
}
.tdInput .form-input {
    height: 30px;
    font-size: 12px;
}
.form-elements-content-inner .tdInput .form-group {
    margin-bottom: 12px;
}
.tdInput .focused .form-control{
    background: transparent;
}
.customercontactTable{
    padding: 0 0 0;
}
.inpHeading{
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    margin: 8px 0 20px;
    text-align: left;
    padding: 0 5px;
}
.batchTable{
    padding: 20px 0 0;
}
.inpNote{
    float: left;
    padding: 2px 0 0;
    color: #c4c5c7;
}
.tblActions{
    display: inline-block;
}
.tblEdit,
.tblDelete{
    float: left;
    width: 16px;
    height: 16px;
    background: url(../images/icon-edit01.svg) no-repeat;
    background-size: 15px auto;
    margin-right: 10px;
}
.tblDelete{
    background: url(../images/icon-delete01.svg) no-repeat;
    background-size: 15px auto;
}
.careTableData{
    text-align: left;
}
.btnAddNew{
    float: right;
    padding: 6px 15px 6px 28px;
    background: #3fa2ff url(../images/icon-add-white.svg) no-repeat 10px center;
    background-size: 12px auto;
    font-size: 12px;
    margin: 0 0 10px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 10px 10px;
}
.addTableDiv{
    padding: 0;
}
.headingTitle{
    float: left;
    width: 100%;
    text-align: left;
    padding: 10px 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    background: #dcdcdc;
    margin: 0 0 20px;
}
.exp-tbl-block{
    padding: 0;
}
.tbl-inpdiv .form-control{
    border-radius: 5px;
    padding: 5px 10px;
    border: solid 1px #c7c2c2;
}
.tbl-inpdiv .col-xs-12{
    padding: 0;
}
.tbl-inpdiv .input-group-addon{
    padding: 6px 5px;
}
.avalablityTable{
    padding: 0;
    margin: 10px 0;
}
.fixed-first-column-scroller {
    padding-left: 0;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
    width: 100%;
}
.fixed-first-column .column-head {
    border-right: solid 0 #DDEFEF;
    left: 0;
    position: absolute;
    top: auto;
    width: 80px;
}
.fixed-first-column-scroller table{
    border-collapse: collapse;
    border-spacing: 0;
}
.fixed-first-column-scroller table tr th,
.fixed-first-column-scroller table tr td{
    border: solid 1px #000;
    background: #fff;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    min-width: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
.fixed-first-column-scroller table tr th,
.fixed-first-column-scroller table tr td:first-child{
    background:#4993e4;
    color: #fff;
}
.spanReportDuration {
    float: left;
    font-size: 13px;
    color: #000;
    margin: 8px 0;
    font-weight: 500;
    text-align: left;
}
.journalInput{
    width: 120px;
}
.journalInvoiceTbaleDiv{
    padding: 0;
}
.journalInvoiceTbale{
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
.journalInvoiceTbale td{
    font-size: 12px;
    padding: 8px 10px;
    text-align: left;
}
.tblTRhead td{
    border-top: solid 1px #c8ccd2;
    border-bottom: solid 1px #c8ccd2;
    font-weight: bold;
}
.journalInputtd{
    width: 114px;
    padding: 0;
    margin: 9px 0 0 0;
}
.journalInputAmt{
    width: 80px;
}
.tblTRTotal td{
    background: #fde7e7;
}

.form-elements-content-inner .journalInputtd label{
    left: 0;
}
.divNarration{
    padding: 20px 0 5px;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    text-align: left;
}
.divNarration h5{
    font-size: 13px;
    margin: 0;
    font-weight: bold;
}
.searchZipTable{
    padding: 0;
}
.searchZipcodeRadioList{
    margin: 0 0 25px;
}
.postalSearchArea{
    margin: 0 0 15px;
}
.postalSearchArea .inputBlock{
    padding: 0;
    padding-right: 20px;
}
.searchZipcodeRadioList label{
    top: inherit;
}
.pageTitle{
    float: right;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    padding: 0 0 0 0;
    margin: 15px 0 0;
}
.lblValue{
    float: left;
    font-weight: normal;
    color: #4F4F4F;
    font-size: 13px;
    margin: 7px 0 0;
}
.inputInnerDiv{
    padding: 0 5px;
}
.inputGroupRow{
    margin: 0 -10px;
}
.btnDelete{
    background: #e7745b url(../images/icon-delete-white.png) no-repeat 10px center;
    background-size: 12px auto;
}
.paddingLeft0{
    padding-left: 0 !important;
}

.threeColumns{
    padding-left: 0;
}
.threeColumns .inputBlock{
    width: 33.333%;
}
.fileTypeDiv{
    margin: 0 0 20px;
}
.fileTypeDiv label.radio-inline{
    top: 0;
}
.iconCamera{
    float: left;
    width: 30px;
    height: 30px;
    background: url(../images/camera.png) no-repeat;
}
.transportInpname{
    width: 75%;
}
/**-- Customer Ends --**/


@media (max-width: 999px){
.inpName {
    width: 100px;
}
.user-photo {
    width: 92px;
    height: 92px;
}
.user-photo img {
    width: 92px;
    height: 92px;
}
.user-photo-block{
    width: 92px;
}
.profile-user-details {
    padding: 20px 10px 20px 128px;
}
}

@media (max-width: 850px){
.profileDetailsLeft .profileDetailsFormElements .inputBlock.inpName .form-label{
    font-size: 18px;
}
.inpName {
    width: 90px;
}
.form-elements-content-inner label{
    font-size: 12px;
}
.user-email, .user-mobile, .user-code {
    width: 228px;
}
.profileBtns{
    width: 256px;
}
.profile-right-inner .inputBlock .form-group{
    padding-left: 40%;
}
.tabsHeader{
    white-space: nowrap;
    overflow: auto;
}
.linkTab{
    float: none;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}
}

@media (max-width: 767px){
.profile-left{
    width: 100%;
}
.profile-right{
    width: 100%;
}
.profile-right-inner .inputBlock {
    width: 50%;
}
.tabContentLeft, .tabContentRightInner{
    width: 100%;
}
.tabContentRight {
    padding: 15px 0 0 0;
}
.tabContentRight{
    width: 100%;
}
.btn-print-profile{
    padding: 8px;
}
.profileBtns .col-xs-5{
    width: 50%;
}
.locationmap-popup {
    width: 100%;
    padding: 15px;
}
.popupheader{
    font-size: 14px;
}
.popupinner{
    padding: 30px 15px;
}
.inputBlock {
    width: 100%;
    padding: 0;
}
.form-elements-content-inner .form-group {
    margin-bottom: 25px;
    padding-left: 0;
}
.radioInputBlock .form-group{
    margin-bottom: 0;
}
.focused .form-label {
    -webkit-transform: translateY(-115%);
    transform: translateY(-115%);
    font-size: 12px;
}
.profile-right-inner .inputBlock .form-group.focused .form-label{
    font-size: 12px;
}
.profileDetailsLeft .profileDetailsFormElements .inputBlock{
    width: 90px;
}
.user-mobile{
    clear: both;
}
.profileBtns{
    clear: both;
}
.form-elements-content-inner label{
    left: 0;
}
.happitInpuBlock {
    float: left;
    padding: 21px 70px 10px 15px;
}
.happitInpuBlock .inputBlock{
    width: 50%;
    padding-right: 10px;
}
.profile-right .form-elements-content-inner label{
    max-width: 37%;
}
.profile-right{
    min-height: inherit;
}
}
    
    @media (max-width: 600px){
    .profile-right-inner .inputBlock {
        width: 100%;
    }
    .profile-user-details h2{
        font-size: 14px;
    }
    .user-photo img {
        width: 62px;
        height: 62px;
    }
    .user-photo {
        width: 62px;
        height: 62px;
        margin: 0;
    }
    .user-email, .user-mobile, .user-code{
        width: 258px;
        font-size: 12px;
        margin: 0 0 6px;
    }
    .profile-user-details {
        padding: 20px 15px 20px 92px;
    }
    .tabInnerContent {
        padding: 15px;
    }
    .container{
        padding: 0 12px;
    }
    .userProfileBlock{
        margin-left: 10px;
    }
    .user-photo-block{
        width: 62px;
    }
    .linkTab{
        padding: 10px 18px;
    }
    .iconBack{
        font-size: 13px;
    }
    .formButtons {
        padding: 0 0;
    }
    .tabSublinks {
        padding: 10px 12px 10px;
    }
    .form-elements-content-inner .row.happitInpuRow{
        margin: 0;
    }
    .form-elements-content-inner .row {
        margin: 0 0;
    }
    }
    @media (max-width: 480px){
    .form-label{
        width: 42%;
    }
    .form-elements-content-inner label{
        width: auto;
    }
    .profileDetailsLeft .profileDetailsFormElements .inputBlock .form-label{
        width: auto;
        top: 3px;
    }
    .profileDetailsLeft .profileDetailsFormElements .inputBlock {
        width: 33.333%;
    }
    .user-photo img {
        width: 52px;
        height: 52px;
    }
    .user-photo {
        width: 52px;
        height: 52px;
    }
    .user-photo-block {
        width: 52px;
    }
    .user-photo-block{
        left: 18px;
    }
    .profile-user-details {
        padding: 15px 15px 20px 78px;
    }
    .profileDetailsLeft .profileDetailsFormElements .inputBlock.inpName .form-label {
        font-size: 13px;
        
    }
    .user-email, .user-mobile, .user-code{
        width: 100%;
    }
    .profileBtns{
        width: 100%;
    }
    .profileDetailsLeft .profileDetailsFormElements .inputBlock.inpDob{
        width: 80px;
    }
    .profileDetailsLeft .profileDetailsFormElements .form-input {
        height: 16px;
    }
    .formButtons {
        margin: 10px 0 0;
    }
    .btn-submit{
        padding: 10px 25px;
        margin-bottom: 10px;
    }
    .happitInpuBlock .inputBlock{
        width: 100%;
        padding-right: 0;
    }
    .tabHeading {
        padding: 12px 15px;
        font-size: 13px;
    }
}
    
    