h1 {
    /*font-family: Myriad Pro Semi Bold;*/
    
    font-size: 48px !important;
    color: #FFFFFF;
    font-weight: bold;
}
a, a:hover, a:focus {
    text-decoration: none !important;
}
.userNameStyle {
    /*width:90%;
            height:50px;
            border:0px;
            background-color:rgba(0,0,0,0);
            font-size:17px;
            padding-left:20px;
            color:#FFFFFF;*/
}
.btnStyle {
    width: 200px;
    background-color: #E7954B;
    border-radius: 25px;
    font-size: 20px;
    color: #FFFFFF;
}
.forgetPassStyle {
    /*width:600px;*/
    
    font-size: 17px;
    color: #FFFFFF;
}
.gapStyle {
    width: 600px;
    height: 20px;
}
.headerStyle {
    margin-left: 150px;
    margin-top: 10px;
    /*margin-bottom:125px;*/
    /*text-decoration:underline;
            color:#B8B5B5*/
}
.cursorStyle {
    cursor: pointer;
}
.signupStyle {
    background-color: rgba(222, 127, 41, 0.5);
    font-weight: bold;
}
*:focus {
    outline: none;
}
input:focus {
    border: 2px solid #FFF;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
    color: #2a2a2a !important;
}
body {
    /* background-position-y:50px;*/
    
    overflow-y: auto !important;
}
.bodyClass {
    /*background-image: url("../../img/login/slider/banner2.jpg");*/
    
    background-color: #342F57;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    /*border:20px solid #FFF;*/
    
    background-repeat: no-repeat;
    border-top: 0px;
}
.signUpClass {
    background-color: #000;
    background-size: 100% 83%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
input[placeholder],
[placeholder],
*[placeholder] {
    /*color: red !important;*/
}
.textStyle {
    font-size: 15px;
    color: #FFFFFF;
}
::-webkit-input-placeholder {
    color: #000;
    font-size: 13px;
}
:-moz-placeholder {
    color: #000;
    font-size: 13px;
}
::-moz-placeholder {
    color: #000;
    font-size: 13px;
}
:-ms-input-placeholder {
    color: #000;
    font-size: 13px;
}
.dobStyle {
    background-color: rgb(76, 96, 111);
    padding-left: 0px;
    width: 100%
}
.genderStyle {
    background-color: rgb(76, 96, 111);
    width: 100%;
    padding: 0px;
    height: 40px;
}
.footerStyle {
    position: absolute;
    bottom: 0px;
    /*padding:4px !important;*/
    
    background-color: #FFF;
    height: 27px;
    width: 100%;
    display: none;
}
.copyRightStyle {
    margin: opx;
    color: #FFF;
    font-size: 13px;
}
.span1Style {
    color: #999;
    padding-left: 30px;
}
.paddingLeftStyle {
    padding-left: 20%;
}
.privacyPolicy {
    margin: opx;
    color: #FFF;
    font-size: 13px
}
.termsStyle {
    margin: opx;
    color: #FFF;
    font-size: 13px;
    padding-left: 30px
}
.contactStyle {
    margin: opx;
    color: #FFF;
    font-size: 13px;
    padding-left: 30px
}
.span2Style {
    color: #999;
    padding-left: 30px;
    padding-right: 30px
}
.usImgStyle {
    width: 18px;
    /*position:absolute;*/
    /*right:27%*/
}
.usTextStyle {
    margin: opx;
    color: #FFF;
    font-size: 13px;
    padding-left: 10px;
    /*position:absolute;*/
    
    right: 21%
}
.tzGapStyle {
    color: #999;
    padding-left: 30px;
    position: absolute;
    right: 45px
}
.section1Style {
    width: 27%;
    background-color: #454847;
    opacity: 0.7;
    border-radius: 10px;
    border: 1px solid #FFF;
    position: absolute;
    left: 36%;
    top: 44%;
    background-image: url("../../img/login/loginbackground.png");
}
.loginbgClass {
    position: relative;
    overflow: hidden;
    margin-top: 25px;
    width: 290px !important;
}
.loginImgClass {
    background-image: url("../../img/login/loginscreen.png");
    background-size: 100% 100%;
    height: 100%;
    background-repeat: no-repeat;
    /*border:2px solid #09aac6;*/
}
.loginSectionClass {
    margin-top: 50px;
}
@media screen and (max-width: 767px) {
    .loginSectionClass {
        width: 100%;
        opacity: 0.7;
        position: absolute;
    }
}
#login-btn {
    /*width:2.5em;*/
}
#imgPass {
    width: 3em;
    padding-top: 0px;
    margin-left: 10px;
    margin-top: -8px;
}
#imgUName {
    width: 2em;
    padding-top: 18px;
    margin-left: 10px
}
.clrStyle {
    color: #FFF;
}
.wecare {
    padding-bottom: 10px;
    position: absolute;
    bottom: 8%;
    color: #797979;
    left: 2%;
    font-size: 4em;
}
#forgetPass {
    /*position:absolute;
            left:53%;
            bottom:30%;*/
}
#login-btn:hover {} .loginHoverStyle {
    /*border: 3px solid rgb(175, 15, 15);
            border-radius:50%;*/
}
#divsignup {
    margin: 5px 0 20px 0;
    text-align: center;
    clear: both;
    overflow: hidden;
}
#divsignup .acclink--wrapper {
    width: 290px;
    font-size: 16px;
}
@media all and (max-height: 768px) {
    #divsignup {} .paddingLeftStyle {
        padding-left: 8%
    }
    #login-btn {
        /*width:2.5em;*/
    }
    .usImgStyle {
        width: 15px;
    }
    .wecare {
        font-size: 2em;
    }
    .forgetPassStyle {
        font-size: 15px !important;
        color: #fff;
        text-decoration: none;
        //left: 51%;
    }
    .forgetPassStyle:hover {
        color: #000;
    }
    .section1Style {
        width: 27% !important;
        background-color: #454847;
        opacity: 0.7;
        border-radius: 10px;
        border: 1px solid #FFF;
        position: absolute !important;
        left: 36%;
        top: 44% !important;
    }
    #imgPass {
        width: 2em;
    }
    #imgUName {
        width: 1.5em;
    }
}
/*@media all and (max-width: 960px) {
            #login-box-outer{ 
            right: 2px;
            top: 40%;
            width:30%;
            left:35%;
            }
            #slider-content-box {
            height: 290px;
            left: 10%;
            top: 30%;
            width: 380px;
            }
            #login-btn{
            width:3em;
            }
            .timeamERP{
            font-size:4em;
            left:41%;
            }
            #imgPass{
            width:1.9em;
            padding-top:0px;
            margin-left:10px;
            margin-top:-8px;
            }
            #imgUName{
            width:1.5em;
            padding-top:25px;
            margin-left:10px
            }
            #divUS{
            width:10%;
            }
            #forgetPass{
            left:45%;
            bottom:30%
            }
            }*/
/*@media all and (min-width: 480px) {
            #forgetPass{
            bottom: 25%;
            }
            #login-btn{
            width:2.5em;
            }
            }*/

#divSignIn {
    width: 50%;
    float: right;
    text-align: right;
    padding-right: 45px;
    margin: 30px 0;
}
#divSignIn ul {
    margin: 0;
}
#divSignIn ul li {
    display: inline-block;
    padding-right: 20px;
}
#divSignIn ul li:last-child {
    padding-right: 0px;
}
#divSignIn ul li a {
    color: #000;
    font-size: 16px !important;
    text-decoration: none;
}
#divSignIn ul li a:hover {
    color: #07AFC2;
}
div.k-window-content {
    overflow: hidden !important;
}
.heightStyle {
    height: 10px;
}
.wecareforu {
    font-family: "Matura MT Script Capitals";
    //color:#191563;
    color: #fff;
    padding-top: 10px;
    font-size: 20px;
    font-weight: normal;
}
.uNameIconStyle {
    padding-top: 1px;
    position: absolute;
    width: 20px;
}
.bg-img-wrapper {
    min-height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
.bg-img-wrapper img {
    width: 100%;
    display: block;
    min-height:100vh;
}
.accountSignUp-link {
    color: #000;
}
.accountSignUp-link:hover {
    color: #e87400;
}
.header-logo-img {
    padding: 5px 30px 5px 30px;
    margin: 10px 0;
    width:250px;
    height:65px;
}
.header--wrapper {
    background: rgba(255,255,255,0.85);
}
.loginbgClass-img {
    width: 100%;
    opacity: 0.85;
}
.loginbgClass-content {
    position: absolute;
    top: 36%;
    left: 9%;
    right: 9%;
}
.login-input--wrapper {
    width: 85%;
    position: relative;
    margin: 0 auto;
    margin-top: 15px;
}
.login-input--wrapper img {
    padding-top:0px;
    position:absolute;
    margin-left:0px;
    top: 3px;
    left: 3px;
    width:20px;
}
.login-input--wrapper input {
    width:100%;
    border:0px solid #000;
    padding-left:30px;
    height: 29px;
    font-size: 12px;
}
.signIn-btn-wrapper {
    margin-top: 10px;
    text-align: center;
}
.signIn-btn-wrapper #loginbtn {
    border-radius: 12px;
    width:100px;
    padding:3px 0;
    color: #000;
}
.signIn-btn-wrapper #loginbtn:hover {
    background: #e87400;
    color: #fff;
}
.forgetPass-wrapper {
    text-align: center;
    margin-top: 20px;
}
#divbottom {
    height:45px;
    background:rgba(232,116,0,0.65);
    text-align:center;
    position: relative;
    bottom: 0;
}
@media screen and (min-width: 768px) {
    .loginbgClass-img {
        height: 430px;
    }
}
@media screen and (max-width: 767px) {
    .header-logo-img {
        width: 225px !important;
    }
    #divSignIn {
        width: auto;
        margin: 25px 0;
    }
    #divSignIn ul {
        display: none;
        position: absolute;
        background: #fff;
        top: 86px;
        right: 0px;
        left: 0;
        width: 100%;
        z-index: 9999;
        margin: 0;
    }
    #divSignIn ul li {
        display: block;
        padding: 10px 0 10px 15px;
        text-align: left;
        border-bottom: 1px solid #d3d3d3;
    }
    #divSignIn ul li a {
        font-size: 20px !important;
    }
    #divsignup {
        margin: 10px 0 20px 0;
        text-align: center;
    }
    .headerMenu span {
        width: 30px;
        top: 12px;
        position: relative;
        display: inline-block;
        height: 2px;
        background: black;
    }
    .headerMenu span:before {
        content: '';
        width: 30px;
        top: -10px;
        position: absolute;
        display: inline-block;
        height: 2px;
        background: black;
        transition: all ease .3s;
    }
    .headerMenu span:after {
        content: '';
        width: 30px;
        display: inline-block;
        height: 2px;
        position: relative;
        top: 2px;
        background: black;
        transition: all ease .3s;
    }
    .headerMenu.removeMenu span:after {
        position: relative;
        top: -10px;
        transform: rotate(-45deg);
        transition: all ease .3s;
    }
    .headerMenu.removeMenu span:before {
        top: -2px;
        transform: rotate(45deg);
        transition: all ease .3s;
    }
    .headerMenu.removeMenu span {
        background: 0;
    }
    .loginSectionClass-img,
    .loginbgClass-img {
        height: 400px;
    }
    .loginbgClass {
        margin-top: 50px;
    }
}
@media screen and (min-width: 451px) and (max-width: 767px) {
    .adjustMobileWidth {
        width: 16.6667%;
    }
    .loginbgClass {
        width: 290px !important;
    }
}
@media screen and (max-width: 450px) {
    .loginbgClass {
        width: 66.66666667% !important;
    }
    #divsignup .acclink--wrapper {
        width: 290px;
    }
}
@media screen and (max-width: 925px) {
    #divbottom {
        /*position: absolute !important;*/
    }
}
@media screen and (min-height: 641px) {
    #divbottom {
        margin-top: 3%;
    }
}