/**{*/
		/*font-family: "Myriad Pro" */
	/*}*/
	
		.cusrsorStyle{
			/*width:120px;*/
			cursor:pointer
		}
		.leftpanelBorderStyle{
			/*background-color:rgba(101,92,102,0.5);*/
		}
		.menuStyle{
			font-size:18px;
		}
		.imgWidthStyle{
			width:12em;
			width:100%;
		}
		div.k-window-content{
			overflow:hidden !important;
		}
		.menuFontSize{
			font-size:1.4em;
		}
		.table th {
    		border: 1px solid #cbc5c2;
    		font-size:15px;
    		color:#FFF;
		}
		.table td{
			font-size:15px;
			border: 1px solid #cbc5c2;
		}

	.table{
	    border: 1px solid #000;
	}
	thead{
		background-color: #becccc
	}
	th{
		font-size:15px;
		font-weight:bold;
	}
	tr{
		border-top:1px solid #054a4a
	}
	.trStyle{
		background-color:  #72d666;
		
	}
	img:hover{
		//border:2px solid #333;
	}
	.vitalsHeader{
		background-color:#C0BFBF;
		color:#000000;
		font-weight:bold;
		font-size:20px !important;;
		text-align:center
	}
	.genHeaderStyle{
			font-weight:bold;
		font-size:20px !important;
		text-align:center;
		color:#FFF;
	}
	.tdColor{
		color:#167DB3;
		/*font-weight:bold;*/
		text-align:center;
	}
	.tdBg{
		background-color: rgba(102,179,222,0.3);
	}
	.fontWeight{
		font-weight:bold;
		color:#000;
	}
	.textAlign{
		text-align: center;
		vertical-align: middle !important;
	}
	.heartRate{
		background-color: rgba(255,204,51,0.5);
	}
	.raspiberry{
		background-color: rgba(102,51,102,0.3);
	}
	.bp{
		background-color: rgba(102,153,51,0.3);
	}
	.temparature{
		background-color: rgba(255,153,51,0.3);
	}
	.spo2{
		background-color: rgba(51,153,153,0.3);
	}
	.systolicbp{
		background-color: rgba(204,51,51,0.3);
	}
	.diastolicbp{
		background-color: rgba(153,204,51,0.3);
	}
	.cardicOut{
		background-color: rgba(255,204,51,0.3);
	}
	.cardicIdx{
		background-color: rgba(204,153,51,0.3);
	}
	.systemV{
		background-color: rgba(102,51,153,0.3);
	}
	.sVolume{
		background-color: rgba(51,51,51,0.3);
	}
	.fillsHeader{
		background-color:#2f4b65;
		color:#FFF;
	}
	.fillsHeader th{
		font-weight:bold;
	}
	.panel-title>a{
		font-size:15px;
		font-weight:bold;
	}
	.confirm{
		background-color: rgba(213,246,133,0.8);
	}
	.notConfirm{
		background-color: rgba(102,204,204,0.3);
	}
	.completed{
		background-color: rgba(255,204,102,0.3);
	}
	
	table, th, td {
  	 color:#000;
	 border:1px solid #000;
}
.hyperLinkStyle{
	font-size:15px;
}
.whiteColor{
	color: #000;
}
.buttonRightPanel{
	float:right;
	height:100px !important;
	border:1px solid #333;
	margin-left:60px;
	margin-top:35% !important;
	width:15px !important;
	margin:0px;
}
.k-widget.k-window{
	opacity:0;
}
#local-media  video{
	width:90%;
}
.btnSelection{
			border:2px solid #FFF;
			border-radius:50%
		}
		.paticipantStyle{
			width:100%;
			font-size:15px;
			font-weight:bold !important;
			color:#FFF;
		}
div#remote-media video{
	width:100% !important;
	max-width:100% !important;
	margin:1px;
	margin:0px;
	border:0px;
	background-color:#709535;
	/*height:150px !important;*/
	object-fit: initial;
	min-height:100% !important;
}
div#patient-media video{
	width:100% !important;
	max-width:100% !important;
	margin:1px;
	margin:0px;
	border:0px;
	background-color:#709535;
	/*height:150px !important;*/
	object-fit: initial;
	min-height:100% !important;
}
div#local-media video{
	width:100% !important;
	max-width:100% !important;
	margin:1px;
	margin:0px;
	border:0px;
	background-color:#709535;
	/*height:150px !important;*/
	object-fit: initial;
	min-height:100% !important;
}
.remoteVideoStyle{
	width:90% !important;
	max-width:100% !important;
	margin:1px;
	margin:0px;
	border:0px;
	background-color:#709535;
	height:250px !important;
}
div#remote-media{
	background-color:#709535;
}
#btnAccept{
	/*background:#0bc734;
	border:solid 1px #0cc635;
	width:80px;*/
	text-align:center;
}
#btnDecline{
	/*background:#e00d3d;
	width:80px;*/
	text-align:center;
}
.buttonBorder{
	border:1px solid #C96F45;
	background-color:#FFF;
}
.btnAcceptDecline{
	padding-bottom:2px;
	margin-top:1.5em;
	text-align:center;
	/*background-color:rgba(255,255,255,0.8);*/
}
#btnCall{
	width:60px;
	/*padding:10px;*/
}
.inviteStyle{
	text-align:center;
	font-size:25px;
	color:#FFF;
}
.incomingCallStyle{
	text-align:center;
	font-size:15px;
	color:#FFF;
}
.videoIcon{
	width:36px;
}
.pdfIcon{
	width:36px
}
	.k-input{
					height:19px !important;
				}
	.k-dropdown-wrap > input{	
		height:19px !important;
	}
	.k-picker-wrap > input, .k-dropdown-wrap > input{
		height:19px !important;
	}
	.smallGapStyle{
		padding-left: 10px
	}
	.mandatoryClass{
		padding-left:0px !important;
	}
	body{
		/*background:#3339;*/
	}
	.panel-group .panel+.panel{
		margin-top:5px;
	}
	#divVitals tr td{
		padding:0px
	}
	#divVitals tr th{
		padding:0px
	}
	
	#divTable tr td{
		padding:2px
	}
	.vitalImage{
		width:30px
	}
	.headerPanelIcon{
		width:25px;
		cursor:pointer;
	}
	.spanDivStyle{
		padding:0px;
		padding-left:5px;
		font-size:30px;
		margin-top:-10px;
		width:20px;
	}
	.imgMarginTop{
		margin-top:-3px;	
	}
	.pnlTitle{
		padding-left:0px;
		font-size:16px;
	}
	.pnlTitleHeight{
		height:18px;
	}
	.rightStyle{
		font-size:16px;
		cursor:pointer;
		text-align:right;
		width:12%;
	}
	.medicationIcon{
		width:25px;
		height:25px
	}
	.imgBorder{
		border:2px solid #9c0d0d;
		border-radius:50%;
	}
	.textBorder{
		border:1px solid #9c0d0d;
	}
	#btnDisconnect{
		width:24px;
	}
	#btnCall{
  width:60px;
  /*padding:10px;*/
}
.inviteStyle{
  text-align:center;
  font-size:25px;
  color:#FFF;
}
.incomingCallStyle{
  text-align:center;
  font-size:15px;
  color:#FFF;
}
.videoIcon{
  width:36px;
}
	.lblFontBold{
		font-weight:bold !important;
		font-size:12px;
	}
	fieldset.scheduler-border {
	padding-top:5px !important;
    border: 1px groove #000 !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 5px !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
	font-size: 15px !important;
	font-weight: bold !important;
	text-align: left !important;
	width:auto;
	padding:0 10px;
	border-bottom:none;
}
.noBorder {
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    padding: 0px !important;
}
.patientImageStyle{
	border:2px solid #0f6dfb;
	padding:5px;
	border-radius:10px;
}
.ui-grid-cell-contents{ /* Grid cell height */
	font-size: 12px !important;
	/*font-family: Open Sans,Verdana, Tahoma, Arial !important;*/
	font-style: normal;
	color:#000 !important;
}
.panel-group .panel+.panel{
	margin-top:2px;
}
@media all and (max-height: 750px) {
		.rightStyle{
			width:8%;
		}
	}
@-moz-document url-prefix() {
		  .buttonRightPanel{
		  	margin-top:-23%;
		  }
		  .panel-title > a{
		font-size:16px;
		font-weight:normal;
	}
	
}
