#ptscheduler1 table , #ptscheduler1 tr, #ptscheduler1 td,#ptscheduler1 th{
			border:1px solid #999;
		}
		#ptscheduler table , #ptscheduler tr, #ptscheduler td,#ptscheduler th{
			border:1px solid #000;
			font-weight:bold;
			font-size:13px;
		}
		table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /*width: 100%;*/
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #FFF;
}
.fntWeight{
	font-weight:bold;
	font-size:13px !important;
}
.medadm{
	width:100px;
}
.medadm1{
	width:50px;
}
.tmadm{
	width:100px;
}
.thadm{
	width:50px;
}
.topContainerPopup div.form-group{
	margin-bottom:1px !important;
}
.pdStyle{
	padding-top:8px
}
.bgColor{
	background-color:green;
}
.trBorder{
	border:2px solid #000 !important;
}
.trBgColor{
	background:#999;
	color:#FFF;
	font-size:15px !important;
	text-align:center;
}
.txtAlign{
	text-align:center;
}
.patient-block{
    border: 1px solid gray;
}
.patient-block .col-xs-6:first-child{
    border-right: 1px solid gray;
}
.col-heading{
    font-size: 15px;
    color: blue;
    font-weight: bold !important;
}
.template-name{
margin-left : 40%;
}
.panel-group{
border: 1px solid gray;
}
.panel-body{
	    margin-left: 10px;
    margin-right: 10px;
}
.leftDiv, .rightDiv{
    border-bottom: 1px solid gray;
        height: 35px;
}
.leftDiv{
border-right: 1px solid gray;
}
.table-responsive h4{
	display:inline-block;
}
.btnprint{
	float: right;
    margin-right: 20px;
    margin-top: 7px;
}
.btnprint i{
	color: unset;
}
.print-report {
	background: rgba(255, 255, 255, 0.95);
	padding: 8px;
	border-radius: 5px;
	border: solid 1px #dbe2f4;
	box-shadow: 0px 0 10px rgba(154, 172, 227, 0.6);
	-webkit-box-shadow: 0px 0 10px rgba(154, 172, 227, 0.6);
	font-family: 'Open Sans', sans-serif;
	z-index: 11;
	display: none;
}
 @media print {
         .print-report {display:none;background-color:black}
         .panel {display:none;}
         #btnprint{display:none};
         #mainContent{display:none};
      }