
<!DOCTYPE html>
<html>
<head>
    <!-- <base href="http://demos.telerik.com/kendo-ui/scheduler/index"> -->
    <link href="../../css/external/css/kendo.common.min.css" rel="stylesheet">
    <link href="../../css/external/css/kendo.default.min.css" rel="stylesheet">
    <link href="../../css/external/css/kendo.custom.min.css" rel="stylesheet">
    <link href="../../css/external/css/corefonts.css" rel="stylesheet">
    <link href="../../css/external/css/common.css" rel="stylesheet">
    <link href="../../css/external/css/kendo.ext.css" rel="stylesheet">

    <link href="../../css/external/css/bootstrap.min.css" rel="stylesheet"> 
	<link href="../../css/external/css/iutilities.css" rel="stylesheet"  type="text/css" />
	<link href="../../js/libs/angular/ui-grid-unstable.css" rel="stylesheet">
	<link href="../../js/libs/angular/ui-grid-angular.css" rel="stylesheet">
	<link href="../../css/external/css/timeam.css" rel="stylesheet">

	<link href="../../css/Theme01.css" rel="stylesheet">

    <!-- scripts -->
    <script src="../../js/libs/jquery-1.7.min.js"></script>
    <script src="../../js/libs/jquery.event.drag-2.2.js"></script>
     <script src="../../js/libs/bootstrap.min.js"></script>
     
    <script src="../../js/libs/kendo.web.min.js"></script>
    <script src="../../js/libs/kendo.web.ext.js"></script>
    <script src="../../js/common/irangedatetimepicker.min.js"></script>
    
    <script src="../../js/common/messages.min.js"></script>
    <script src="../../js/common/ikendowrapper.min.js"></script>
    <script src="../../js/common/inetwork.min.js"></script>
	<script src="../../js/common/customalert.min.js"></script>
	<script src="../../js/common/common.min.js"></script>
	<script src="../../js/common/iAppUtil.min.js"></script>


    <script src="../../js/libs/angular.js"></script>
	<script src="../../js/libs/angular-touch.js"></script>
	<script src="../../js/libs/angular-animate.js"></script>
	<script src="../../js/libs/angular/csv.js"></script>
	<script src="../../js/libs/angular/vfs_fonts.js"></script>

	<script src="../../js/libs/angular/ui-grid-unstable.js"></script>
	<script src="../../js/common/iAngularUI.grid.wrapper.js"></script>
	
	<script src="../../js/common/utilities.min.js"></script>
	<script src="../../js/common/common.min.js"></script>
    
    <script src="../../js/patients/repositionReport.js"></script>

</head>
<body>

<body class="bodyClass">

<div class="container taskgroupContainer">

	<div class="col-xs-12 ibox" id="viewDivBlock">
		<div class="col-xs-12 ibox-title">
			<h5 class="filter-heading">Reposition Chart</h5>
			<div class="divFilterActiveInactive">
				<button type="button" class="btnActive radioButton radioButton-active">Active</button>
				<button type="button" class="btnInActive radioButton">Inactive</button>
			</div>
		</div>

		<div class="col-xs-12 ibox-content">
			<div class="col-xs-12 ibox-content-inner">
				<div class="col-xs-12 formArea">
					<div class="col-xs-12 EU-formArea vitalListblock">

						<div class="col-xs-12 facility-refine viewBtnRefine">
							<div class="col-xs-2 input-block">
								<label>Patient</label>
								<input id="txtPatient"  class="form-control" disabled></input>
								<img id="btnSearch1" class="postalWrapper-img" src="../../img/Default/search-icon.png" title="Search" />
							</div>

							<div class="col-xs-2 input-block">
								<label>Start Date</label>
								<input id="txtStartDate"  class="form-control kendoDate"></input>
							</div>

							<div class="col-xs-2 input-block">
								<label>End Date</label>
								<input id="txtEndDate"  class="form-control kendoDate"></input>
							</div>

							<div class="col-xs-2 input-block">
								<a href="javascript:void(0)" class="btn-sm-search carerViewbtn" style="position: relative" id="btnPtView" ng-click="getData()">View</a>
							</div>

						</div>

						<div class="col-xs-12 staticTableBlock" id="ptscheduler1">
							<div class="table-responsive">
							<table class="table-bordered staticTable">
								<tr>
									<td class="trBorder medadm fntWeight" colspan="2">Mr. Micheal Jones (Male)</td>
									<td class="trBorder medadm fntWeight" colspan="2">DOB: 17/12/1945 (72)</td>
									<td class="trBorder medadm fntWeight">Dr. Kevin Bacon</td>
									<td class="trBorder medadm fntWeight">Facility:</td>
									<td class="trBorder medadm fntWeight"></td>
								</tr>
								<tr>
									<td class="trBorder medadm fntWeight" colspan="5">Dates : 01/01/2018 to 31/01/2018</td>
									<td class="trBorder medadm fntWeight">Room : #</td>
									<td class="trBorder medadm fntWeight"></td>
								</tr>
								<tr>
									<td class="trBgColor trBorder medadm fntWeight">Repositioning Chart</td>
									<td class="trBgColor trBorder  medadm1 fntWeight">Placed Code</td>
									<td class="trBgColor trBorder  medadm1 fntWeight">L-Left</td>
									<td class="trBgColor trBorder  medadm1 fntWeight">R-Right</td>
									<td class="trBgColor trBorder  medadm1 fntWeight">B-Back</td>
									<td class="trBorder  fntWeight" colspan="3">Allergies</td>
								</tr>
								<tr>
									<td class="trBgColor trBorder medadm fntWeight">Reposition</td>
									<td class="trBgColor trBorder medadm1 fntWeight" colspan="2">B-in Bed</td>
									<td class="trBgColor trBorder  medadm1  fntWeight" colspan="2">A-when Asleep</td>
									<td class="trBgColor trBorder  medadm1 fntWeight">U-when Up</td>
									<td class="trBgColor trBorder  fntWeight"></td>
								</tr>
							</table>
							</div>
						</div>

						<div class="table-responsive fixedtableBlock border-0" id="ptscheduler">

								<table class="verticalTbl fixedtable">
									<tr>
										<th class="trBgColor trBorder fntWeight">Time</th>
										<th class="trBgColor trBorder fntWeight" colspan="2">MON DAY</th>
										<th class="trBgColor trBorder fntWeight" colspan="2">TUES DAY</th>
										<th class="trBgColor trBorder fntWeight" colspan="2">WEDNESS DAY</th>
										<th class="trBgColor trBorder fntWeight" colspan="2">THURS DAY</th>
										<th class="trBgColor trBorder fntWeight" colspan="2">FRI DAY</th>
										<th class="trBgColor trBorder fntWeight" colspan="2">SATUR DAY</th>
										<th class="trBgColor trBorder fntWeight" colspan="2">SUN DAY</th>
									</tr>
									<tr>
										<td class="trBgColor trBorder fntWeight"></td>
										<td class="txtAlign  trBgColor fntWeight">POS</td>
										<td class="txtAlign  trBgColor fntWeight">SIGN</td>
										<td class="txtAlign  trBgColor fntWeight">POS</td>
										<td class="txtAlign  trBgColor fntWeight">SIGN</td>
										<td class="txtAlign  trBgColor fntWeight">POS</td>
										<td class="txtAlign  trBgColor fntWeight">SIGN</td>
										<td class="txtAlign  trBgColor fntWeight">POS</td>
										<td class="txtAlign  trBgColor fntWeight">SIGN</td>
										<td class="txtAlign  trBgColor fntWeight">POS</td>
										<td class="txtAlign  trBgColor fntWeight">SIGN</td>
										<td class="txtAlign  trBgColor fntWeight">POS</td>
										<td class="txtAlign  trBgColor fntWeight">SIGN</td>
										<td class="txtAlign  trBgColor fntWeight">POS</td>
										<td class="txtAlign  trBgColor fntWeight">SIGN</td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">1 AM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">2 AM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">3 AM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">4 AM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">5 AM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">6 AM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">7 AM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">8 AM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">9 AM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">10 AM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">11 AM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">12 PM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">1 PM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">2 PM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">3 PM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">4 PM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">5 PM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">6 PM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">7 PM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">8 PM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">9 PM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">10 PM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">11 PM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
									<tr>
										<th class="trBgColor trBorder fntWeight">12 PM</th>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
										<td class="txtAlign   fntWeight"></td>
									</tr>
								</table>

						</div>

					</div>
				</div>
			</div>
		</div>

	</div>


</div>

</body>
</html>
