﻿@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Ubuntu:300,400,500,700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
	background: #f2edf3; /* Old browsers */
	background: -moz-linear-gradient(top, #f2edf3 0%, #f2edf3 49%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f2edf3 0%,#f2edf3 49%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f2edf3 0%,#f2edf3 49%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2edf3', endColorstr='#f2edf3',GradientType=0 );
	overflow-x:hidden !important;
}
text{
	font-family: 'Ubuntu', sans-serif;
}
.dashboardContainer {
    text-align:center;
    margin:30px 0 0 0;
}
.dashboardInner {
    display:inline-block;
    width:100%;
    max-width:1400px;
    text-align:left;
}
.ibox-sm {
    padding:0 10px;
}
.ibox-sminner {
    padding:20px 30px;
    min-height:160px;
    background:#fff;
        border-radius: 5px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.25);
}
.pinkBG {
    background: #ffb396;
    background: -moz-linear-gradient(left, #ffb396 0%, #fe7a96 100%);
    background: -webkit-linear-gradient(left, #ffb396 0%, #fe7a96 100%);
    background: linear-gradient(to right, #ffb396 0%, #fe66a7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb396', endColorstr='#fe7a96', GradientType=1 );
}
.blueBG {
    background: #7dc0f6;
    background: -moz-linear-gradient(left, #7dc0f6 0%, #1688e2 100%);
    background: -webkit-linear-gradient(left, #7dc0f6 0%, #1688e2 100%);
    background: linear-gradient(to right, #7dc0f6 0%, #1688e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dc0f6', endColorstr='#1688e2', GradientType=1 );
}
.greenBG {
    background: #73d5cb;
    background: -moz-linear-gradient(left, #73d5cb 0%, #16bda4 100%);
    background: -webkit-linear-gradient(left, #73d5cb 0%, #16bda4 100%);
    background: linear-gradient(to right, #73d5cb 0%, #16bda4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73d5cb', endColorstr='#16bda4', GradientType=1 );
}
.voiletBG {
    background: #fbc865;
    background: -moz-linear-gradient(left, #fbc865 0%, #f4bb4d 100%);
    background: -webkit-linear-gradient(left, #fbc865 0%, #f4bb4d 100%);
    background: linear-gradient(to right, #fbc865 0%, #f4bb4d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbc865', endColorstr='#f4bb4d', GradientType=1 );
}
.pinkBG:before,
.blueBG:before,
.greenBG:before,
.voiletBG:before,
.pinkBG:after,
.blueBG:after,
.greenBG:after,
.voiletBG:after{
	content:'';
	width:130px;
	height:130px;
	background:rgba(255, 255, 255, 0.1);
	position:absolute;
	right:-30px;
	bottom:-50px;
	border-radius:100%;
}
.pinkBG:after,
.blueBG:after,
.greenBG:after,
.voiletBG:after{
	right: -70px;
    bottom: auto;
    top: -20px;
	border-radius:100%;
}
.dashboardStatusBlock h3 {
    color:#fff;
    font-size:17px;
    margin:0 0 20px;
}
.dashboardStatusBlock h2 {
        color: #fff;
    font-size: 28px;
    margin: 0 0 10px;
    font-weight: 600;
}
.dashboardStatusBlock h2 small{
    display:block;
    line-height:12px;
    font-size:12px;
    color:#fff;
    padding:3px 0 0 0;
}
.statusOf {
    float:left;
    width:100%;
    line-height:12px;
    font-size:14px;
    color:#fff;
    padding:20px 0 0 0;
}
.cardBox{
    padding: 0 0 0;
    margin-bottom: 20px;
    position: relative;
    padding: 0;
    background: #fff;
    box-shadow: 3px 0px 5px rgba(120, 138, 135, 0.13);
}
.cardBoxesBlock {
    /*padding:0;*/
    margin:20px 0 0 0;
}
.cardBox-header {
    font-size: 18px;
    color: #12131a;
    font-weight: 500;
    padding-bottom: 0;
    font-weight: bold;
    padding: 4px 14px 8px;
}
.cardBox-name {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #12131a;
    font-weight: 500;
    min-height: 30px;
    padding: 5px 50px 0 5px;
}
.spnDots {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    min-height: 25px;
}
.cardBox-body{
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #fff;
    float: left;
    padding: 15px;
	min-height:350px;
}
.padding-zero {
    padding: 0 !important;
}
.table-sm{
	padding:0;
	margin:0;
	width:100%;
}
.table-sm th,
.table-sm td{
	border-collapse:collapse;
	padding:8px 3px;
	border-bottom:solid 1px #ebeced;
	font-size:13px;
	font-weight:500;
	text-align:center;
}
.table-sm th.text-left,
.table-sm td.text-left{
	text-align:left;
}
.table-sm td{
	color:#9c9fa6;
}
.rowTotalSm td{
	color:#ff1e6d;
	border-bottom:0;
}
.staticValues{
	padding:20px 30px;
	margin:0;
	float:left;
	width:100%;
}
.staticValues li{
	list-style:none;
	text-align:left;
	font-size:12px;
	color:#9c9fa6;
	float:left;
	width:100%;
	margin-bottom:5px;
}
.staticValues li i{
	width:14px;
	height:14px;
	float:left;
	background:#000;
	border-radius:15px;
	margin-top:2px;

}
.staticValues li span{
	float:left;
	margin:0 0 0 10px;
}
.staticValues li small{
	float:right;
	font-size:12px;
}
.ulTwocolumns{
	padding:10px 5px 20px 5px;
}
.ulTwocolumns li{
	width:50%;
	padding-right:5px;
}
.ulTwocolumns li small{
	float:left;
	padding-left:6px;
}

.colorBlack{
	color:#000;
}
.ct-horizontal-bars .ct-bar {
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.dashboard-title {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #4d4d4d;
    font-weight: bold;
    min-height: 45px;
    padding: 0 10px 0 14px;
    border-bottom: solid 1px #eeeded;
}
.spnTilename {
    float: left;
    padding: 8px 0 16px 45px;
    text-transform: none;
    font-size: 18px;
    position: relative;
	color:#333;
}
.spnTilename i {
    width: 54px;
    height: 54px;
    border-radius: 3px;
    position: absolute;
    left: -10px;
    top: 0;
    background-size: 18px auto;
}

.circle-chart-widget .circle-chart {
    position: relative;
    width: 182px;
    height: 232px;
    margin: auto
}

.circle-chart-widget .circle-chart .c1 {
    position: absolute;
    left: -20px;
    top: 0
}

.circle-chart-widget .circle-chart .c2 {
    position: absolute;
    left: 12px;
    top: 30px
}

.circle-chart-widget .circle-chart .c3 {
    position: absolute;
    left: 43px;
    top: 60px
}
.circle-chart-widget .chart-overlap {
    position: absolute;
    width: 100px;
    top: 99px;
    left: 40px;
    text-align:center;
}
.circle-chart-widget {
    width:100%;
}
.gaugejs,
#salesmonth canvas {
    position:absolute;
    left:50%;
    top:0;
    width:90% !important;
    height:45% !important;
    transform:translateX(-50%);
}
.meterCanvas {
    padding:0;
	height: 300px;
}
#salesmonth{
	float: left;
    width: 100%;
    height: 290px;
    margin: 20px 0 0;
    position: relative;
}

@media (max-width:1024px) {
.dashboardContainer{
	padding: 0 8px;
}
.ibox-sm {
    padding: 0 5px;
}
}

@media (max-width:999px) {
.dashboardStatusBlock .ibox-sm {
    width:50%;
    padding-bottom:20px;
}
.cardBoxesBlock .ibox-sm {
    width:50%;
}
.cardBoxesBlock .ibox-sm:nth-child(2n+1){
    clear:both;
}
.meterCanvas {
    padding:0;
	height: 200px;
}
}

@media (max-width:767px) {
.dashboardContainer {
    padding:0 5px;
}
.dashboardStatusBlock .ibox-sm {
    width:50%;
    padding-bottom:20px;
}
.cardBoxesBlock .ibox-sm {
    width:100%;
}
.cardBoxesBlock .ibox-sm:nth-child(2n+1){
    clear:both;
}
.cardBox-body {
    min-height:inherit;
}
.meterCanvas {
    min-height:220px;
}
}
@media (max-width:568px) {
.dashboardContainer {
    padding: 0 5px;
}
.dashboardStatusBlock .ibox-sm {
    width:100%;
        padding-bottom: 10px;
}
.dashboardStatusBlock h3 {
    font-size: 14px;
        margin: 0 0 10px;
}
.dashboardStatusBlock h2 {
    font-size: 20px;
}
.statusOf {
    padding: 10px 0 0 0;
}
.ibox-sminner {
    min-height:inherit;
    padding: 15px 15px;
}
.cardBox-name {
    font-size:14px;
}
.table-sm th, .table-sm td {
    font-weight:normal;
}
}

.dateRange{
	    float: right;
    position: relative;
}

