.circle-chart-widget .circle-chart {
    position: relative;
    width: 182px;
    height: 182px;
    margin: auto
}

.circle-chart-widget .circle-chart .c1 {
    position: absolute;
    left: -20px;
    top: 0
}

.circle-chart-widget .circle-chart .c2 {
    position: absolute;
    left: 12px;
    top: 30px
}

.circle-chart-widget .circle-chart .c3 {
    position: absolute;
    left: 43px;
    top: 60px
}
.circle-chart-widget .chart-overlap {
    position: absolute;
    width: 100px;
    top: 99px;
    left: 40px;
    text-align:center;
}
.circle-chart-widget {
    width:330px;
}