<!DOCTYPE html>
<html>
<head>
<!-- <base href="http://demos.telerik.com/kendo-ui/scheduler/index"> -->
<link href="../../css/external/css/kendo.common.min.css" rel="stylesheet">
<link href="../../css/external/css/kendo.default.min.css" rel="stylesheet">
<link href="../../css/external/css/kendo.custom.min.css" rel="stylesheet">
<link href="../../css/external/css/corefonts.css" rel="stylesheet">
<link href="../../css/external/css/common.css" rel="stylesheet">
<link href="../../css/external/css/kendo.ext.css" rel="stylesheet">
<link href="../../css/external/css/bootstrap.min.css" rel="stylesheet">
<link href="../../css/external/css/iutilities.css" rel="stylesheet"  type="text/css" />
<link href="../../js/libs/angular/ui-grid-unstable.css" rel="stylesheet">
<link href="../../js/libs/angular/ui-grid-angular.css" rel="stylesheet">
<link href="../../css/external/css/timeam.css" rel="stylesheet">
<link href="../../css/Theme01.css" rel="stylesheet">
<link href="../../css/report/careerInOutReport.css" rel="stylesheet">
<!-- scripts -->
<script src="../../js/libs/jquery-1.7.min.js"></script>
<script src="../../js/libs/jquery.event.drag-2.2.js"></script>
<script src="../../js/libs/bootstrap.min.js"></script>
<script src="../../js/libs/kendo.web.min.js"></script>
<script src="../../js/libs/kendo.web.ext.js"></script>
<script src="../../js/common/irangedatetimepicker.min.js"></script>
<script src="../../js/common/messages.js"></script>
<script src="../../js/common/ikendowrapper.min.js"></script>
<script src="../../js/common/inetwork.min.js"></script>
<script src="../../js/common/customalert.min.js"></script>
    <script src="../../js/common/timeamUtil.min.js"></script>
<script src="../../js/common/iAppUtil.min.js"></script>

<script src="../../js/libs/angular.js"></script>
<script src="../../js/libs/angular-touch.js"></script>
<script src="../../js/libs/angular-animate.js"></script>
<script src="../../js/libs/angular/csv.js"></script>
<script src="../../js/libs/angular/vfs_fonts.js"></script>
<script src="../../js/libs/angular/ui-grid-unstable.js"></script>
<script src="../../js/common/iAngularUI.grid.wrapper.js"></script>
<script src="../../js/common/utilities.min.js"></script>
    <script src="../../js/common/common.min.js"></script>
<script src="../../js/reports/CareerInOutReport.js"></script>
    <style>
        .fixedtable td, .fixedtable th {
            min-width: 100px;
            max-width: 100px;
        }
    </style>
</head>

<body class="bodyClass" ng-app="appReport" ng-controller="reportController">

    <div class="col-xs-12 prescription-contentDiv">
<div class="col-xs-12 ibox" id="carerPrintDiv">
    <div class="col-xs-12 ibox-title">
        <h5 class="filter-heading">Staff In and Out Report</h5>

    </div>
    <div class="col-xs-12 ibox-content">
        <div class="col-xs-12 ibox-content-inner">
            <div class="col-xs-12 formArea">
                <iframe id="printing-frame" name="print_frame" src="about:blank" style="display:none;"></iframe>

                <div class="col-xs-10 facility-refine prescriptionRefine carerRefine">
                    <div class="col-xs-2 input-block">
                        <!--<div class="form-group">-->
                            <label id="lblFacility">Facility</label>
                            <input id="txtFacility"  class="customSelect">
                        <!--</div>-->
                    </div>
                    <div class="col-xs-2 input-block">
                        <!--<div class="form-group">-->
                            <label id="aST">Start</label>
                            <input id="txtStartDate"  class="kendoDate">
                        <!--</div>-->
                    </div>

                    <div class="col-xs-2 input-block">
                        <!--<div class="form-group">-->
                            <label id="aET">End</label>
                           <input id="txtEndDate"  class="kendoDate">
                        <!--</div>-->
                    </div>
                    <div class="col-xs-2 input-block">
                        <label>Sort Order</label>
                        <select id="cmbSortOrder"  class="form-control">
                            <option value="1">Date of Appt</option>
                            <option value="2">Service User + Date of Appt</option>
                            <option value="3">Staff + Date of Appt</option>
                        </select>
                    </div>
                    <div class="col-xs-2 input-block">
                    <a href="javascript:void(0)" class="btn-sm-search carerViewbtn" id="btnPtView" ng-click="getData()">View</a>
                    </div>
                </div>

                <button id="btnPrint1" ng-click="printTable()" class="btn-print carerPrint">Print</button>


                
                <div id="careerGrid1" style="display: none;"></div>


                <div class="fixedtableBlock" id="carertable">
                        <table class="carertable fixedtable">
                          <thead>
                            <tr>
                              <th style="width:2% !important;">Appt #</th>
                              <th style="width:10% !important;">Staff</th>
                              <th style="width:10% !important;">Service User</th>
                              <th style="width:21% !important;">Service User <br/>Address</th>
                              <th style="width:10% !important;">Date & Time</th>
                              <th style="width: 8% !important;">In Time</th>
                              <th style="width: 8% !important;">Out Time</th>
                              <th style="width: 8% !important;">Actual Visit <br/>Time</th>
                              <th style="width: 8% !important;">GPS In Time</th>
                              <th style="width: 5% !important;">GPS In <br/>Location</th>
                              <th style="width: 5% !important;">GPS Out <br/>Time</th>
                              <th style="width: 5% !important;">GPS Out <br/>Location</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="rows in apidata">
                              <td style="width: 2% !important;">{{rows.id}}</td>
                              <td style="width:10% !important;">{{rows.carer}}</td>
                              <td style="width:10% !important;">{{rows.ServiceUser }}</td>
                              <td style="width:21% !important;">{{rows.address }}</td>
                              <td style="width:10% !important;"> {{rows.appDate}} <br/>
                                {{rows.appTime}} </td>
                              <td style="width: 8% !important;">{{rows.inTime }}</td>
                              <td style="width: 8% !important;">{{rows.outTime}} </td>
                              <td style="width: 8% !important;">{{rows.visitTime}} </td>
                              <td style="width: 8% !important;">{{rows.gpsInTime }}</td>
                              <td style="width: 5% !important;">{{rows.gpsInLocation }}</td>
                              <td style="width: 5% !important;">{{rows.gpsOutTime }}</td>
                              <td style="width: 5% !important;">{{rows.gpsOutLocation}} </td>
                            </tr>
                          </tbody>
                        </table>
              </div>

                 

            </div>
        </div>
    </div>
</div>
</div>


</body>
</html>
