<!DOCTYPE html>
<html>
<head>
	<title>Service User Activity</title>
	<link href="../../css/external/css/kendo.common.min.css" rel="stylesheet">
    <link href="../../css/external/css/kendo.default.min.css" rel="stylesheet">
    <link href="../../css/external/css/kendo.custom.min.css" rel="stylesheet">
    <link href="../../css/external/css/common.css" rel="stylesheet">
    <link href="../../css/external/css/kendo.ext.css" rel="stylesheet">
    <link href="../../css/external/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/external/css/iutilities.css" rel="stylesheet" type="text/css" />
    <link href="../../js/libs/angular/ui-grid-unstable.css" rel="stylesheet">
    <link href="../../js/libs/angular/ui-grid-angular.css" rel="stylesheet">

	<link href="../../css/Theme01.css" rel="stylesheet">

    <!-- scripts -->
    <script src="../../js/libs/jquery-1.7.min.js"></script>
    <script src="../../js/libs/jquery.event.drag-2.2.js"></script>

    <script src="../../js/libs/bootstrap.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.1.221/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.1.221/js/kendo.all.min.js"></script>
    <script src="../../js/libs/kendo.web.min.js"></script>
    <script src="../../js/libs/kendo.web.ext.js"></script>
    <script src="../../js/common/irangedatetimepicker.min.js"></script>
    <script src="../../js/common/messages.min.js"></script>
    <script src="../../js/common/ikendowrapper.min.js"></script>
    <script src="../../js/common/inetwork.min.js"></script>
    <script src="../../js/common/customalert.min.js"></script>
    <!-- <script src="../../js/common/common.js"></script> -->
    <script src="../../js/common/timeamUtil.min.js"></script>
    <script src="../../js/common/iAppUtil.min.js"></script>
<!--    <script src="../../js/common/iutilities.js"></script>-->
    <script src="../../js/libs/angular.js"></script>
    <script src="../../js/libs/angular-touch.js"></script>
    <script src="../../js/libs/angular-animate.js"></script>
    <script src="../../js/libs/angular/csv.js"></script>
    <script src="../../js/libs/angular/vfs_fonts.js"></script>
    <script src="../../js/libs/angular/ui-grid-unstable.js"></script>
    <script src="../../js/common/iAngularUI.grid.wrapper.js"></script>
    <script src="../../js/common/utilities.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
	<script src="../../js/common/common.min.js"></script>
    <script src="../../js/reports/patientActivity.js?v=05022020"></script>
<!--	loadAPi('../../js/reports/patientActivity.js')-->

</head>
<body class="bodyClass" ng-app="appReport" ng-controller="reportController">

<div class="col-xs-12 formArea patientActivityBlock">



	<div id="pnlPatient" class="col-xs-12 divPatInfoblock divPatInfoblockWhiteBg activitypatientInfo" style="display: none;">
		<div class="col-xs-12 noPadding" id="divMain">
			<div id="divIdMain" class="col-xs-12 noPadding">
				<div class="divPatPhoto">
					<img src="../../img/login/patient.png" id="userImg">
				</div>
				<div class="col-xs-12 divPatInfoblockinner">
					<div class="divPatInfo">
						<label id="lblPtLbl">Service User Id :</label>
						<span id="lblptID">101</span>
					</div>

					<div class="divPatInfo" id="divptName">
						<label>Name : </label>
						<span id="ptName">John Z Doe</span>
					</div>

					<div class="divPatInfo" id="divptDOB">
						<label>DOB : </label>
						<span id="ptDOB">13/11/2010 (8 Y)</span>
					</div>

					<div class="divPatInfo" id="divptStatus">
						<label>Status : </label>
						<span id="lblStatus">Active</span>
					</div>

					<div class="divPatInfo" id="divptGender">
						<label>Gender : </label>
						<span id="lblGender">Male</span>
					</div>

					<div class="divPatInfo" style="display:none">
						<label>Provider : </label>
						<span id="lblProvider"></span>
					</div>

					<div class="divPatInfo" style="display:none">
						<label>Weight : </label>
						<span id="lblPtWeight"></span>
					</div>



				</div>

			</div>
		</div>
	</div>



	<div class="patientActivityTblBlock col-xs-12" style="page-break-after:always" >
		<a href="javascript:void(0)" class="btn-print activityPDF" ng-click="printTable()" id="saveAsPdf">Print</a>
		<div id="tableAppointmentContent">
			<div class="table-responsive patientActivityTblres">
				<table class="appointmentActivityReport">
					<tbody>
					<tr>
						<th style="text-align:center">Appointment Task Report</th>
					</tr>
					</tbody>
				</table>
				<table class="appointmentActivityReport">
					<tbody>
					<tr>
						<td width="33%" name="patient-appointment-name" style="text-align: left;font-size: 12px;padding: 0px 5px !important;"></td>
						<td  width="34%" name="patient-appointment-caregiver" style="text-align: left;font-size: 12px;padding: 0px 5px !important;"></td>
						<td width="33%">
							<table>
								<tr>
									<td colspan="2" name="patient-appointment-date" style="text-align: left;font-size: 12px;border: 0px"></td>
								</tr>
								<tr>
									<td name="patient-appointment-intime" style="text-align: left;font-size: 12px;border: 0px"></td>
									<td name="patient-appointment-outtime" style="text-align: left;font-size: 12px;border: 0px"></td>
								</tr>
							</table>

						</td>
						<!--<td><label>DOB</label> <span name="patient-appointment-dob"></span></td>-->
						<!--<td><label>Age</label> <span name="patient-appointment-age"></span></td>-->
						<!--<td><span name="patient-appointment-gender"></span></td>-->
					</tr>
					<!--<tr>-->
					<!--<td><b>Staff</b></td>-->
					<!--&lt;!&ndash;<td><label>Date</label> <span name="patient-appointment-date"></span></td>&ndash;&gt;-->
					<!--&lt;!&ndash;<td><label>Time</label> <span name="patient-appointment-time"></span></td>&ndash;&gt;-->
					<!--&lt;!&ndash;<td></td>&ndash;&gt;-->
					<!--</tr>-->
					<!--<tr>-->
					<!--<td><b>Appointments</b></td>-->
					<!--&lt;!&ndash;<td><label>CareGiver</label> <span name="patient-appointment-caregiver"></span></td>&ndash;&gt;-->
					<!--&lt;!&ndash;<td>&ndash;&gt;-->
					<!--&lt;!&ndash;<div><label>In Time</label> <span name="patient-appointment-intime"></span></div>&ndash;&gt;-->
					<!--&lt;!&ndash;<div><label>Out Time</label> <span name="patient-appointment-outtime"></span></div>&ndash;&gt;-->
					<!--&lt;!&ndash;</td>&ndash;&gt;-->
					<!--&lt;!&ndash;<td></td>&ndash;&gt;-->
					<!--</tr>-->
					</tbody>
				</table>
				<table class="appointmentActivityReport" >
					<tbody>
					<tr>
						<th>Tasks Performed</th>
					</tr>
					</tbody>
				</table>
				<table class="appointmentActivityReport" id="activitiesPeformed">
					<thead>
					<tr>
						<th>Image</th>
						<th>Task Name</th>
						<th>Outcome/Remarks</th>
						<!--<th>Remarks</th>-->
						<th>Time</th>
					</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<table class="appointmentActivityReport" >
					<tbody>
					<tr>
						<th>Notes</th>
					</tr>
					</tbody>
				</table>
				<table class="appointmentActivityReport">
					<tbody>
					<tr>
						<td name="patient-appointment-notes" style="text-align: left !important;"></td>
					</tr></tbody>
				</table>
				<table class="appointmentActivityReport" >
					<tbody>
					<tr>
						<th>HandOverNotes</th>
					</tr>
					</tbody>
				</table>
				<table class="appointmentActivityReport">
					<tbody>
					<tr>
						<td name="patient-appointment-handovernoes" style="text-align: left !important;"></td>
					</tr>
					</tbody>
				</table>
			</div>

			<div class="divIndicates">
				<span class="mandatory"></span> <b>indicates required,</b>
				<span class="dotSm"></span> <span class="orangeDot"></span> <span class="redDot"></span> <b>indicates review of the Task</b>
			</div>
		</div>

	</div>

	<iframe id="printing-frame" name="print_frame" src="about:blank" style="display:none;"></iframe>

</div>


		<div id="pt" style="display: none;">
			<input type="text" name="patient-appointment-id" id="patientAppointmentId-input" />
			<a href="#" class="btn btn-primary patientAppointmentId-btn" id="patientAppointmentId-link">
				<img src="../../img/search-icon-white.png" class="patientAppointmentId-btn-img">
			</a>
		</div>


</body>
</html>