@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
.container{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.mandatoryField {
    color: red !important;
    font-size: 15px;
    line-height: 12px;
}
body{
    margin:0;
    padding:0;
    background:#eef3f7;
    font-family: 'Ubuntu', sans-serif !important;
}
.header-container{
    float:left;
    width:100%;
    padding:0 10px;
    background:#15b748;
}
.navbar-nav > li > a{
    color:#fff;
    padding: 16px 25px;
    margin-right:10px;
}
.billing{
    background: url(../images/icon-bill.png) no-repeat left center;
    background-size: 18px auto;
}
.billingTo{
    background:url(../images/icon-billto.png) no-repeat left center;
    background-size: 18px auto;
}
.patientBill{
    background:url(../images/icon-bill.png) no-repeat left center;
    background-size: 18px auto;
}
.navbar-nav > li:first-child a{

}
.page-wrapper {
    padding: 0;
    padding-right: 0;
}
.page-heading {
    padding:15px;
    font-size: 20px;
    font-weight: 600;
    color: #353e4a;
}
.ibox {
    padding:0;
    border-radius:5px;
    background:#fff;
    overflow:hidden;
    box-shadow: 0 0 15px #dbe9ef;
    -webkit-box-shadow: 0 0 15px #dbe9ef;
}
.ibox-title {
    padding:15px;
    background:#fff;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.ibox-title h5{
    padding:0 0 0 0;
    color:#8691a1;
    font-size:14px;
    margin:0;
    font-weight:500;
    text-transform:uppercase;
    padding:0;
}
.ibox-collapse-link {
    position:absolute;
    right: 15px;
    top: 2px;
    font-size: 25px;
    width: 15px;
    height:34px;
    cursor:pointer;
    display:none;
}
.ibox-collapse-link:before {
    content: '';
    width: 14px;
    height: 2px;
    background: #585858;
    float: right;
    margin: 17px 0 0 0;
    position: absolute;
    left: 0;
    top:0;
    display:none;
}
.ibox-collapse-link.minus-expanded:before{
    display:inline-block;
}
.ibox-collapse-link i {
    font-style:normal;
}
.ibox-content {
    padding:0;
}
.ibox-content-inner {
    padding:14px;

}
.formContentblock{
    padding:0 15px 30px;
}
.formArea{
    padding:0;
}
.formArea .col-xs-6{
    padding:0 10px;
}
.formArea .col-xs-6 label{
    font-weight:400;
    font-size:12px;
}
.formArea .col-xs-4 label {
    font-weight: 400;
    font-size: 12px;
}
.formArea .col-xs-3 label {
    font-weight: 400;
    font-size: 12px;
}
.formArea .col-xs-12 label {
    font-weight: 400;
    font-size: 12px;
}
.form-control{
    border:solid 1px #e6e7ef !important;
    box-shadow:none;
    -webkit-box-shadow:none;
    border-radius:3px;
    height: 30px;
    font-size: 12px;
}
.form-control:focus{
    box-shadow:none;
    -webkit-box-shadow:none;
}
.bottom-buttons{
    padding: 0 10px;
    margin: 10px 0 10px 0;
    margin-top: 30px;
}
.btn-save {
    background: #4fea5b;
    padding: 11px 35px;
    font-size: 13px;
    border-radius: 3px;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 6px 13px rgba(119,116,254,0.4);
    -webkit-box-shadow: 0 6px 13px rgba(119,116,254,0.4);
    outline:0;
    font-family: 'Ubuntu', sans-serif;
}
.btn-reset{
    background: #f0ad4e;
    margin-left:10px;
    padding: 11px 35px;
    font-size: 13px;
    border-radius: 3px;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 6px 13px rgba(119,116,254,0.4);
    -webkit-box-shadow: 0 6px 13px rgba(119,116,254,0.4);
    outline:0;
    font-family: 'Ubuntu', sans-serif;
}
.postalWrapper-img{
    width: 20px;
    cursor: pointer;
    margin-top: -26px;
    position: absolute;
    right: 18px;
    /*top: 4px;*/
}
.btn-billprimary {
    background: #428bca;
    padding: 9px 29px;
    font-size: 13px;
    border-radius: 3px;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 6px 13px rgba(119,116,254,0.4);
    -webkit-box-shadow: 0 6px 13px rgba(119,116,254,0.4);
    outline:0;
    font-family: 'Ubuntu', sans-serif;
}
.btn-warning {
    background: #f0ad4e;
    padding: 9px 29px;
    font-size: 13px;
    border-radius: 3px;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 6px 13px rgba(119,116,254,0.4);
    -webkit-box-shadow: 0 6px 13px rgba(119,116,254,0.4);
    outline:0;
    font-family: 'Ubuntu', sans-serif;
}
.btn-delete {
    background: #d9534f;
    padding: 9px 24px;
    font-size: 13px;
    border-radius: 3px;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 6px 13px rgba(119,116,254,0.4);
    -webkit-box-shadow: 0 6px 13px rgba(119,116,254,0.4);
    outline:0;
    font-family: 'Ubuntu', sans-serif;
}
label,text,input, select, span,h1,h2,a{
    font-family: 'Ubuntu', sans-serif !important;
}
.buttonBarClass{
    height: 30px !important;
    font-size: 15px;
    font-weight: normal;
    color: #000 !important;
    padding: 4px 15px;
    min-width: 80px;
}
.ui-grid-header-cell .ui-grid-cell-contents span{
    text-transform: unset;
     line-height:24px;
}
.navBar {
    clear: both;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}

.nonSelectButtonBarClass{
    background-color: #dcdcd8 !important;
}
.selectButtonBarClass{
    background-color: #45cff0 !important;
}
.btn-billprimary:hover{
    background-color: #45cff0 !important;
}

/*.btn-delete{*/
    /*background: #f95f46;*/
    /*padding: 10px 30px;*/
    /*font-size: 13px;*/
    /*border-radius: 3px;*/
    /*color: #fff;*/
    /*border: 0;*/
    /*text-transform: uppercase;*/
    /*cursor: pointer;*/
    /*text-align: center;*/
    /*box-shadow: 0 6px 13px rgba(119,116,254,0.4);*/
    /*-webkit-box-shadow: 0 6px 13px rgba(119,116,254,0.4);*/
    /*outline:0;*/
    /*font-family: 'Ubuntu', sans-serif;*/
/*}*/


.btn-submit {
    display: inline-block;
    padding: 10px 30px;
    font-size: 13px;
    border-radius: 3px;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    background: #6a95f9;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 6px 13px rgba(119,116,254,0.4);
    -webkit-box-shadow: 0 6px 13px rgba(119,116,254,0.4);
    outline:0;
    font-family: 'Ubuntu', sans-serif;
}
.btn-cancel{
    background: #f5df65;
    color: #000;
    margin-left:10px;
    padding: 10px 30px;
    font-size: 13px;
    border-radius: 3px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 6px 13px rgba(119,116,254,0.4);
    -webkit-box-shadow: 0 6px 13px rgba(119,116,254,0.4);
    outline:0;
    font-family: 'Ubuntu', sans-serif;
}

.dropdown-billingmenu{
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0px 0px 0px -1px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0 4px 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: white;
}

textarea.form-control.txtdesc{
    height:85px;
}

#billTitle{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #353e4a;
    /* margin: 0; */
    /* padding: 0; */
    /* background: #eef3f7; */
    font-family: 'Ubuntu', sans-serif !important;
}

@media(max-width:999px){
    .header-container{
        padding: 0;
    }
    .navbar-nav {
        margin: 0;
        width: 100%;
        background: #15b748;
        z-index: 9;
        padding: 10px;
    }
    .navbar-collapse{
        position: absolute;
        left: 0px;
        top: 42px;
        width: 100%;
        padding: 0px;
        z-index: 9;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a{
        color: #fff;
    }
}

@media (max-width:568px){
    .page-heading {
        padding: 10px;
        font-size: 14px;
    }
    .formContentblock {
        padding: 0 10px 30px;
    }
    .formArea .col-xs-6{
        width: 100%;
        padding: 0;
    }
    .bottom-buttons {
        padding: 0 0;
    }
}
.note{
    font-size: 11px;
    /*font-weight: 700;*/
    color: royalblue;
}

