@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
body{
	margin:0;
	padding:0;
	font-family: 'Ubuntu', sans-serif;
	background:#f9f8f7;
	overflow-x:hidden;
}
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
h4.carerTitle{
	background:#1fbdf9;
	font-size:24px;
	color:#fff;
	margin:0 0 20px;
	padding:0 20px;
	font-family: 'Lato', sans-serif;
	text-align:left;
	float: left;
    width: 100%;
}
.loginTime {
    float: right;
    font-size: 12px;
    color: #fff;
    max-width: 180px;
    text-align: right;
}
.carertable{
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0px;
    overflow-x: auto;
	background:#fff;
	box-shadow: 0 10px 20px #dedddd;
	-webkit-box-shadow: 0 10px 20px #dedddd;
}
.carertable td, .carertable th {
    padding: 5px 5px;
    border: solid 1px #d1d4d8;
    font-size: 13px;
	word-break:break-all;
	min-width: 100px;
	/*font-weight:bold !important;*/
}
.carertable th {
    background: #2980b9;
    color: #fff;
	border-color:#f3f6f9;
}
.carertable td{
	color:#66717f;
}
.carertable-block{
	float:left;
	width:100%;
	text-align:center;
}
.carertableInner{
	display:inline-block;
	max-width: 1200px;
}
.totalrow td{
	background-color: #ffb400;
	color:#fff;
	font-weight:bold;
}
.carerMember td{
	background-color: #fafafa;
}
.carertableRes{
	display: inline-block;
    width: 100%;
    /*overflow-x: auto;*/
	max-height: 440px;
	overflow: auto;
}
.navbar-nav > li > a {
    color: #fff;
	font-weight: 500;
	font-size: 13px;
	padding: 20px 0;
}
.spnTitle{
	padding: 10px 0 0 0;
    display: inline-block;
}
.sortFilters{
	padding: 0;
}
.sortFilters{
	text-align: left;
	margin-bottom: 20px;
}
.sortFilters .row{
}
.form-control{
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
}
.btn-submit{
	display: inline-block;
	padding: 6px 20px;
	background: #5ec574;
	margin: 26px 0 0 0;
	color: #fff;
}
.btn-print {
	margin: 0 10px 0 0;
    display: inline-block;
    padding: 2px 0 0 26px;
    font-size: 13px;
    color: #333;
    position: relative;
    z-index: 2;
    background: url(../../img/report/icon-print.png) no-repeat;
    float: right;
    border: 0;
    /*margin: 26px 15px 0;*/
}
/*input[type='text'], .input-group > span, label, select,button,input[type='button'], .k-datepicker, .k-datetimepicker, .k-picker-wrap, .k-dropdown, .k-combobox, .k-dropdown-wrap {*/
	/*height: 28px !important;*/
/*}*/
label{
	font-size: 14px;
}

.fixedtable{
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0px;
    overflow-x: auto;
    display: block;
}
.fixedtable th {
    background: #2980b9;
    color: #fff;
}
.fixedtable tr {
    display:table;
    min-width:100%;
}
.fixedtable td, .fixedtable th {
	padding: 6px 10px;
	border: solid 1px #ddd;
	font-size: 13px;
	min-width: 120px;
	max-width: 120px;
	word-break: break-all;
	font-weight: 500;
}


.fixedtable td{
	font-weight: 400;
}
.fixedtable td h4 {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    color: #333;
}
.fixedtable td input[type="checkbox"]:before,
.fixedtable td input[type="radio"]:before {
    border-radius:0;
        width: 24px;
    height: 24px;
    margin:5px 0 0 0;
}
.fixedtable thead, .fixedtable tbody {
    display: inline-block;
    min-width: 100%;
    overflow-y: scroll;
    -webkit-appearance: none;
    -ms-overflow-style: none;
}
.fixedtable tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 330px;
    /*margin-right: -17px;*/
}
.fixedtable thead:before{
    content:'';
    width:17px;
    height:100%;
    float:left;
    position:absolute;
    right:0;
    top:0;
}
.fixedtableBlock {
    float:left;
    width:100%;
    border: solid 1px #ddd;
}
.carerPrint{
	float: right;
	margin-top: 30px;
}
.carerRefine .carerViewbtn{
	margin: 19px 0 0;
	color: #fff;
	padding: 7px 20px;
	width: auto;
	height: auto;
	font-weight: 500;
	font-size: 14px;
	background: #44b1f7;
}
.carerRefine {
	padding-right: 80px;
}
.appointReportRefine {
	padding-right: 0;
	padding-bottom: 20px;
}
.appointReportRefine .carerViewbtn {
	margin: 21px 10px 0 0;
	color: #fff;
	padding: 6px 20px;
}
.appointReportRefine .reportPrint{
	margin-top: 26px;
	/*margin-top: 10px;*/
}
.carerViewbtn.btn-reset{
	border: solid 1px #d2d2d2;
	background: #d2d2d2;
	color: #000;
}
/*#btnPtView, #btnReset{*/
	/*margin-top: 21px;*/
/*}*/
/*#divSort, #divFacility{*/
	/*width: 14%;*/
/*}*/
/*#divFrom, #divTo{*/
	/*width: 9%;*/
/*}*/
/*#divSU, #divStaff{*/
	/*width: 12%;*/
/*}*/
.apointDelayRefine{
	padding: 0;
}
.appointPrint{
	margin-top: 28px;
}


@media (max-width:1200px){
.carertableInner{
	display:inline-block;
	max-width:100%;
	overflow:auto;
	padding: 10px;
	white-space:nowrap;
	float: left;
}
.carertableInner{
	padding:0;
}
.carertableRes{
	display:inline-block;
	padding:10px;
}
.carertable{
	width:auto;
	white-space:normal;
}
.carertable td, .carertable th{
	min-width: 110px;
}
}

@media (max-width: 999px) {
.carerPrint{
	float: left;
	margin: 0 0 20px;
}
.appointReportRefine  .postalWrapper-img{
	right: 20px;
}
.appointReportRefine .input-block{
	width: 50%;
}
.apointDelayRefine{
    padding: 0;
}
.carerRefine {
	padding-right: 0;
}
}

@media (max-width:620px) {
.appointReportRefine .input-block{
	width: 100%;
	padding: 0;
}
.appointReportRefine .carerViewbtn{
	margin-left: 0;
	margin-right: 10px;
}

	/*#divSort, #divFacility{*/
		/*!*width: 0%;*!*/
	/*}*/
	/*#divFrom, #divTo{*/
		/*!*width: 0%;*!*/
	/*}*/
	/*#divSU, #divStaff{*/
		/*!*width: 0%;*!*/
	/*}*/
}

@media (max-width:568px){
h4.carerTitle{
	font-size:14px;
	padding: 10px 10px;
}
.loginTime{
	font-size:11px;
	max-width: 150px;
}
.carerRefine .carerViewbtn{
	height: 35px;
	bottom: 13px;
	top: auto;
	margin: 0;
}
.appointReportRefine .input-block{
	padding: 0;
}
.appointReportRefine .carerViewbtn{
	margin-top: 20px;
	position: relative;
	margin-right: 10px;
}
.appointReportRefine .reportPrint {
	margin-top: 13px;
}
.appointReportRefine .postalWrapper-img {
	right: 10px;
}
.apointDelayRefine .carerViewbtn{
    margin-top: 30px;
}
}

