@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
	margin:0;
	padding:10px;
}
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@font-face {
    font-family: 'Calibri';
    src: url('../external/fonts/themes/Calibri.woff2') format('woff2'),
    url('../external/fonts/themes/Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../external/fonts/themes/Calibri-Light.woff2') format('woff2'),
    url('../external/fonts/themes/Calibri-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../external/fonts/themes/Calibri-Bold.woff2') format('woff2'),
    url('../external/fonts/themes/Calibri-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}




/**-- Invoice --**/
.staffTimesheetDiv{
    width: 1000px;
}
.timesheetinvoiceBlock{
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    -webkit-print-color-adjust: exact;
}
.timesheetinvoiceBlockInner{
    width: 793px;
    display: inline-block;
    text-align: left;
    background: #fff;
    margin: 15px 0px;
}
.table-block{
    float: left;
    width: 100%;
    padding: 10px 0;
    clear: both;
}
.timeSheetReportdivHeading{
    float:left;
    width:100%;
    padding:8px 15px;
    background: #D5AC57;
    font-weight: 600;
    margin-bottom:0;
    text-transform:uppercase;
    color: #fff;
    font-size: 16px;
    font-family: 'Calibri';
    font-weight: bold;
}
.timesheetmembersTable{
    width:100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-align:left;
    border-collapse: collapse;
}
.timesheetmembersTable th,
.timesheetmembersTable td{
    padding: 6px 12px;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Calibri';
}
.timesheetmembersTable th{
    border-bottom: solid 1px #009B6F;
}
.timesheetmembersTable tr:last-child td{
    border-top: solid 1px #009B6F;
    color: #004242;
    font-size: 13px;
}
.timesheetmembersTable th:first-child,
.timesheetmembersTable td:first-child,
.timesheetmembersTable tr:last-child td:first-child{
    border: 0;
}
.timesheetinvoiceBlockInner .timesheetmembersTable thead:before,
.timesheetinvoiceBlockInner .timesheetmembersTable thead:after { display: none; }

.timesheetmembersTable th{
    background:#fff;
    color: #FF0000;
    font-weight: bold;
    font-family: 'Calibri';
    font-size: 12px;
}
.timesheetmembersTable-total td{
    background: #fff !important;
    color: #333;
    font-weight: 600;
    font-size: 13px;
    -webkit-print-color-adjust: exact;
}
.timesheetmembersTable-grandtotal td{
    background: #5DA9ED;
    color: #fff !important;
    font-weight: bold;
    font-size: 14px !important;
    border: 0 !important;
}
.searchedLabels{
    float:left;
    padding:10px 0;
    font-weight: bold;
}
.searchedLabels label{
    font-weight: normal;
    font-size: 12px;
	color:#000;
}
.divLabel{
    float: left;
    padding: 0 14px 0 0;
    font-size: 12px;
    font-family: 'Calibri';
    color: #004242;
}
.reportName{
    float:left;
    padding:10px 0 0 0;
    /*'width: 50px;*/
    /*max-width: 250px;'*/
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}
.reportLocations{
    float: right;
    width: 200px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}
.spnAppoint{
    float: left;
    max-width: 280px;
}
.spnInvoiceTblname{
    float: left;
    width: 155px;
}
.reportLocations h2{
    font-size: 20px;
    margin-bottom: 5px;
    color: #4A87D3;
    font-weight: bold;
    font-family: 'Calibri';
    margin-top: 0;
    /*width: 200px;*/
    width: 300px;
    display: inline-block;
    float: right;
	text-align: right;
}
.reportLocations address{
    margin: 0;
    font-size: 11px;
    font-family: 'Calibri';
    font-weight: normal;
    font-style: normal;
    width: 200px;
    display: inline-block;
    float: right;
    clear: both;
	text-align: right;
}
.reportName h2{
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: 600;
    font-style: italic;
    color: #4A87D3;
    line-height: 18px;
    font-family: 'Calibri';
    width: 300px;
    display: inline-block;
    float: left;
}
.reportName h2 span {
	display: inline-block;
    padding-bottom: 5px;
    float: left;
    border-bottom: solid 1px #000;
    padding-right: 12px;
}
.reportName h2 small{
    font-size: 12px;
    width: 200px;
    display: inline-block;
    float: left;
	font-style: normal;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
    clear: both;
}
.timeTbl{
    float: right;
}
.timeTbl{
    margin-top: 30px !important;
}
.tblInvoiceHeader{
    width: 100%;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}
.timesheetinvoiceBlockInner table { page-break-inside:auto }
.timesheetinvoiceBlockInner tr { page-break-inside:avoid; page-break-after:auto }
.timesheetinvoiceBlockInner thead { display:table-header-group }
.timesheetinvoiceBlockInner tfoot { display:table-footer-group }

.timesheetinvoiceBlockInner .table-responsive{
    overflow: visible !important;
    overflow-y: visible !important;
}
.timesheetinvoiceBlockInner .table-responsivetable {
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: auto;
}
.timesheetinvoiceBlockInner .table-responsive thead, .timesheetinvoiceBlockInner .table-responsive tfoot {
    display: table-row-group;
}
.timesheetinvoiceBlockInner .table-responsive tr {
    page-break-inside: avoid;
}
.spnReportTitle,
.spnReportTitle2{
    float: left;
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
    color: #ff6600;
}
.spnReportTitle2{
    clear: both;
    color: #008000;
    font-size: 14px;
    padding: 5px 0 15px;
}
.dot{
    float: left;
    width: 11px;
    height: 11px;
    background:#008e00;
    border-radius: 100%;
    margin: 5px 8px 0 -17px;
    box-shadow: 0 2px 5px #8e8e8e;
}
.dot.redDot{
    background: #ff2600;
}
.dot.yellowDot{
    background: #eb8004;
}
.tblTaskreport {
    width: 100%;
    padding:0;
    margin: 0;
    border-spacing: 0;
}
.tblTaskreport td{
    padding: 5px 20px 5px 5px;
    font-size: 13px;
    color: #000;
    border-bottom: solid 1px #d9d9d9;
    width: 180px;
}
.tblTaskreport td:first-child{
    /*color: #144a4a;*/
    color: #000;
    font-size: 13px;
    /*font-weight: 600;*/
    width: 180px;
}
.astrick{
    color: #ff6600;
}
.taskReportTblBlock{
    padding: 0 0 10px;
}
.floatleft{
    float: left;
}
.floatRight{
    float: right;
}
.clearLine{
    clear: both;
}
.headingSpn{
    font-size: 12px;
    text-transform: none;
    font-weight: normal;
    font-size: 13px;
    color: white;
}
.headingSubSpn{
    font-size: 12px;
    text-transform: none;
    font-weight: normal;
    color: #004242;
}
.weeklyCareReportTbl tr td,
.weeklyCareReportTbl tr td:first-child{
    border: 0;
    font-size: 12px;
    color: #000;
    padding: 4px 0;
    font-weight: normal;
}
.weeklyCareReportTbl tr th{
    border-bottom: solid 1px #000;
}
.weeklyCareReportTbl tr.TotalRow td{
    background: #4A87D3;
    font-weight: bold;
}

@media (max-width: 900px){
    .timesheetinvoiceBlockInner{
        width: 100%;
    }
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .spnInvoiceTblname {
        float: left;
        width: 100px;
    }
    .timesheetmembersTable th, .timesheetmembersTable td{
        font-size: 12px;
    }
    .table-block{
        padding-bottom: 15px;
    }
}
@media (max-width: 600px){
    .reportLocations{
        float: left;
        width: 100%;
        text-align: left;
        padding-bottom: 5px;
    }
    .timeTblSubmit{
        position: relative;
        bottom: inherit;
        margin: 10px 0 0 15px;
    }
    .timeTbl {
        margin-top: 20px !important;
    }
}
@media print {
    .table-block{
        padding-bottom: 5px;
    }
    .table-responsive{
        border: 0;
    }
    .table-responsive{
        overflow: visible !important;
    }
    thead { display: table-header-group }
    tfoot { display: table-row-group }
    tr { page-break-inside: avoid }
    tr {
        page-break-inside: avoid !important;
    }

    td {
        page-break-inside: avoid !important;
    }
}
@media print {
    .table-responsive table {
        overflow: visible !important;
        height: auto !important;
    }
    table { overflow: visible !important; }
    thead { display: table-header-group }
    tfoot { display: table-row-group }
    tr { page-break-inside: avoid }


    .table-block{ display: block !important; page-break-before: always !important; page-break-after: avoid; }
    .timeSheetReportdivHeading{
        display: table-row !important;
        clear: both;
        page-break-before: always !important;
    }
    div.page
    {
        page-break-after: always;
        page-break-inside: avoid;
    }
}

.TotalRow td{
    color : white !important;
}
.borderrightthin{
    padding-left: 18px !important;
}

/**-- Invoice ends --**/