

.mainDiv {
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden;
    overflow-y: auto !important;
}
.side-bar{
        height: 330px;
    width: 100%;
    position: relative;
    background: #f1f1f1f1;
    margin-top: 50px;
    overflow: auto;
}
.container-right{
/*         height: 70%; */
    width: 100%;
    /* margin-left: 26%; */
/*     position: fixed; */
    background: #fff;
    margin-top: 50px;

}
.container-right h4{
    margin-left: 30%;
    padding: 5px;

}
.page-title{
    background: #5bc0de;
    /* width: 1252px; */
    position: fixed;
    width: 100%;
    z-index: 99999;
}
.page-title div{
    padding: 5px;
    text-align: center;
}
.fields{
    padding: 10px;
}
.fields a{
display: block;
text-decoration: none;
color : black;

margin:10px;
}
input {
    display: inline-block;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
    margin-left: 0px !important;
}
.form-container{
    margin: 10px;
/*     overflow-y:scroll; */
    height: 100%;
/*     margin-bottom: 70px; */
}
.form-control{
    width: 17% !important;
}
.form-group button, input, optgroup, select, textarea {
display: block;
}
label {
    text-transform: capitalize;
    
}
.add-fields a, .fancy-fields a{
    margin: 10px;
    position: relative;
    width: 40%;
    border: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    border-radius: 9px;
}
.hint textarea {
    width: 280px;
}
.hint input {
    margin-bottom: 10px;
}
.user-fields {
    border-top: 1px solid #ddd;
    margin-top: 25px;
}
.email{
    background-color: #fc2;
}
.checkbox-label{
    background-color: #b33;
}
.user-name{
    background-color: #aaaa33;
}
.address{
    background-color: #204;
}
.phone{
    background-color: #333;
}
.website{
    background-color: #505;
}
.datetime{
    background-color: blueviolet;
}
.rating{
    background-color: yellowgreen;
}
.likert{
    background-color: tomato;
}

.drop-down{
    background-color: blue;
}
.cnames{
    margin-bottom: 5px;
}
.caddress{
    margin-bottom: 5px;
}
.cphone{
    margin-bottom: 5px;
}
.cwebsite{
    margin-bottom: 5px;
}
.cdatetime{
    margin-bottom: 5px;
}
.crating{
    margin-bottom: 5px;
}
.clikert{
    margin-bottom: 5px;
}
.form-group label {
    display: inline-block;
    margin-right: 5px;
}
.form-group input, .cnames input {
    display: inline-block;
    margin-right: 5px;
}
.cnames label {
    display: block;
    margin-right: 5px;
}
.folder-name {
    margin-left: 5px;
    color: red;
}
.btn{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.add-blocks{
    width: 300px;
    display: inline-block;
    margin-bottom: 5px;
}
.caddress{
    width:700px;
}
.clikert table {
    margin: 0 0 .9em 0;
    background: #fff;
    width: 700px;
    border: 1px solid #dedede;
    border-bottom: none;
    border-spacing: 2px;
}
.clikert thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.clikert thead td ,.clikert thead th{
    font-size: 85%;
     padding: 10px 6px; 
     background-color: #e6e6e6;
}
.clikert td{
    width: 14%;
    font-size: 12px;
    text-align: center;
}
.clikert input{
    margin-left: 50%;

}
.clikert tbody th {
    padding: 8px 8px;
    text-align: left;
}
.clikert th, .clikert td {
    border-bottom: 1px solid #dedede;
}
.clikert td {
    border-left: 1px solid #ccc;
    text-align: center;
    padding: 4px 6px;
}
.star {
    color: gray;
}
.clicked {
    color: green;
}
li {
    list-style: none;
}
#vNames input{
    margin-bottom: 5px;
}
.title{
    display: block;
}
.clikert .title {
    display: table-caption;
}
.group input {
    margin-bottom: 5px;
}
.caddress #instruction{
    display: block;
}
#fieldSettings input,select{
    background: #fff;
    border: 1px solid #ccc;
    padding: 7px;
   /*  width:100%; */
    margin: 0;
    margin-top:5px;
    border-radius: 7px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 10px;
}
#fieldSettings ul{
    margin-left: -20px;
}
#fieldSettings textarea {
    background: #fff;
    border: 1px solid #ccc;
    padding: 3px;
    margin-right: 5px;
    border-radius: 7px;
}
#fieldSettings li {
    margin-bottom: 10px;
}
#dynamic-from input{

    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.trash{
    margin-left: 5px;
}
.btn-save, .btn-edit, .btn-delete{
	display:inline-block !important;
}
.formcombos span:first-child{
	width:93% !important;
}
.formcombos input{
	width:100% !important;
}
.formcombos .noBorder{
    border: none;
    background: none;
    box-shadow: none;
    }
.components-block input{
	width: 92% !important;
    margin: 0  !important;
    border: none  !important;
    border-radius: unset  !important;
    
}
.components-block label{
	margin-top: 5px;
	    height: auto !important;

	}