#divStaffTimeSheetReportViewer table,td,th,tbody,thead{
    border:none !important;
    font-family:  Calibri !important;
}

.reportDataHeading{
    background-color: #d5ac57 !important;
    padding-top: 5px;
}
.reportDataHeading h5{
    font-size: 14px;
    font-weight: bold;
    color: white;
}

/*#divStaffTimeSheetReportViewer th,thead{*/
/*    font-size: 14px;*/
/*    font-weight: bold;*/
/*    color: red;*/
/*    background-color: white;*/

/*}*/

/*#divStaffTimeSheetReportViewer td{*/
/*    font-size: 14px !important;*/
/*    color: black;*/
/*    font-weight: bold;*/
/*}*/

.borderbuttomthin{
    border-bottom:solid 0.5px #83eeb2 !important;
}

.borderbuttomthick{
    border-bottom:solid 2px #83eeb2 !important;
}

.grandtotal{
    color: #144a4a !important;
}

.showgrandtotal{
    font-size: 17px !important;
    font-weight: bold !important;
}




.borderrightthin{
    background-color:#5dbeed;
    font-size: 14px !important;
    border:none !important;
    font-family:  Calibri !important;
    font-weight: bold;
    border-right:solid 0.5px white !important;
}

.prescription-table-header .contact-tbl tbody th, .prescription-table-content .contact-tbl tbody td {
    width: 0px !important;
}