@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
*{
	box-sizing:border-box;
}
body {
	background: #eef3f7;
	font-family: 'Ubuntu', sans-serif;
}
@font-face {
	font-family: 'Calibri';
	src: url('external/fonts/themes/Calibri.woff2') format('woff2'),  url('external/fonts/themes/Calibri.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Calibri';
	src: url('external/fonts/themes/Calibri-Light.woff2') format('woff2'),  url('external/fonts/themes/Calibri-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Calibri';
	src: url('external/fonts/themes/Calibri-Bold.woff2') format('woff2'),  url('external/fonts/themes/Calibri-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
img {
	max-width: 100%;
}
a:hover {
	text-decoration: none;
}
input[type=file]:focus, input[type=radio]:focus, input[type=checkbox]:focus {
	outline: 0;
}
.ibox {
	padding: 0;
	border-radius: 5px;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 0 15px #dbe9ef;
	-webkit-box-shadow: 0 0 15px #dbe9ef;
}
.ibox-title {
	float: left;
	width: 100%;
	padding: 15px;
	background: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: solid 1px #aeb5c0;
	font-family: 'Ubuntu', sans-serif;
}
.ibox-title h5 {
	padding: 0 0 0 0;
	color: #000;
	font-size: 13px;
	margin: 0;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0;
	float: left;
}
.ibox-collapse-link {
	position: absolute;
	right: 15px;
	top: 2px;
	font-size: 25px;
	width: 15px;
	height: 34px;
	cursor: pointer;
	display: none;
}
.ibox-collapse-link:before {
	content: '';
	width: 14px;
	height: 2px;
	background: #585858;
	float: right;
	margin: 17px 0 0 0;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.ibox-collapse-link.minus-expanded:before {
	display: inline-block;
}
.ibox-collapse-link i {
	font-style: normal;
}
.ibox-content {
	padding: 0;
}
.ibox-content-inner {
	padding: 20px;/*padding-top: 2px;*/
}
.ibox-content-inner-formdata {
	padding: 20px;
	padding-top: 2px;
}
.col-xs-12{
	float:left;
	width:100%;
}
/**-- UserTask report --**/
.contacts-tbl-block {
	padding: 0;
}
.contact-tbl {
	border-collapse: collapse;
}
.contact-tbl tr th, .contact-tbl tr td {
	padding: 6px 10px;
	border: solid 1px #c1c1c1;
	font-size: 14px;
	word-break: break-all;
	color: #3d5468;
}
.contact-tbl tr th {
	background: #2980b9;
	color: #fff;
}
.userTask-table-block {
    padding:0;
}
.userTask-table-block th,
.userTask-table-block td {
    min-width:100px;
}
.userTaskDetails {
    padding:0;
    margin-bottom:20px;
}
.userTaskDetails .col-xs-4{
float:left;
width:33.333%;
    border:solid 1px #c1c1c1;
    padding:0;
    min-height:146px;
}
.userTaskDetailsinner {
    padding:10px;
}
.usertasksmHeading {
    font-size:13px;
    font-weight:bold;
    color:#44b1f7;
    float:left;
    width:100%;
    margin-bottom:5px;
}

.usertaskstdHeading {
	font-size:13px;
	font-weight:bold;
	color:#44b1f7;
	/*float:left;*/
	width:100%;
	margin-bottom:5px;
}
.userTaskDetailsinner label {
    font-weight:normal;
    font-size:13px;
    float:left;
    clear:both;
    margin:0 0 2px;
    color:#000;
}
.userTask-table-block h5 {
        font-size: 18px;
    color: #e46565;
    margin: 0 0 10px;
}
.userTask-table-block {
    margin-bottom:15px;
}
/**-- UserTask report Ends --**/
@media (max-width:999px){
.userTaskDetails .col-xs-4 {
    float: left;
    width: 100%;
	min-height:inherit;
}
}
@media (max-width:767px){
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
}
}


.carerPrint {
    float: right;
    margin-top: 30px;
}

.btn-print {
    margin: 0 10px 0 0;
    display: inline-block;
    padding: 2px 0 0 26px;
    font-size: 13px;
    color: #333;
    position: relative;
    z-index: 2;
    background: url(../../img/report/icon-print.png) no-repeat;
    float: right;
    border: 0;
    /* margin: 26px 15px 0; */
}